{% unless collection_image_size %}
  {%- assign collection_image_size = '450x450' -%}
{% endunless %}

{% if collection.empty? %}
  {% comment %}add default state for collection block in theme editor{% endcomment %}
  {% assign collection_image_url = '' %}
{% else %}
  {% if collection.image %}
    {% capture collection_image_url %}{{ collection | img_url: 'master' }}{% endcapture %}
  {% elsif collection.products.first %}
    {% capture collection_image_url %}{{ collection.products.first | img_url: 'master' }}{% endcapture %}
  {% endif %}
{% endif %}
<div class="collection-grid-item">
  <a href="{% if image_link != '' %}{{ image_link }}{% else %}{% if collection.empty? %}#{% else %}{{ collection.url }}{% endif %}{% endif %}" class="collection-grid-item__link remove-border">
    <div class="collection-grid-item__overlay" >
      <div>
      <img src="{% if custom_image_picker %}{{ custom_image_picker | img_url: 'master' }}{% else %}{{ collection_image_url }}{% endif %}">
        {% if collection.empty? %}
          {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
          {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
      </div>
      <div class="collection-grid-item__title-wrapper">
      </div>
    </div>
    <div class="custom-collection-homepage">
      {% if title_for_image != '' %}
        {{ title_for_image }}
      {% else %}
        {% if collection.empty? %}
          {{ 'homepage.onboarding.collection_title' | t }}
        {% else %}
          {{ collection.title }}
        {% endif %}
      {% endif %}
      </div>
  </a>
  
</div>
