    {% if template contains 'product' %}
    {{ 'magiczoomplus.js' | asset_url | script_tag }}
    {{ 'magiczoomplus.sirv.js' | asset_url | script_tag }}
    {{ 'magiczoomplus.css' | asset_url | stylesheet_tag }}
    {{ 'magiczoomplus.additional.css' | asset_url | stylesheet_tag }}
    <script type="text/javascript">
    mzOptions = {
        'zoomWidth':'auto',
        'zoomHeight':'auto',
        'zoomPosition':'right',
        'zoomDistance':15,
        'selectorTrigger':'click',
        'transitionEffect':true,
        'cssClass':'',
        'zoomCaption':'off',
        'lazyZoom':false,
        'rightClick':false,
        'zoomMode':'zoom',
        'zoomOn':'hover',
        'upscale':true,
        'smoothing':true,
        'variableZoom':false,
        'expand':'window',
        'expandZoomMode':'zoom',
        'expandZoomOn':'click',
        'expandCaption':true,
        'closeOnClickOutside':true,
        'hint':'once',
        'textHoverZoomHint':'Hover to zoom',
        'textClickZoomHint':'Click to zoom',
        'textExpandHint':'Click to expand',
        'textBtnClose':'Close',
        'textBtnNext':'Next',
        'textBtnPrev':'Previous'
    }
    mzMobileOptions = {
        'zoomMode':'zoom',
        'textHoverZoomHint':'Touch to zoom',
        'textClickZoomHint':'Double tap to zoom',
        'textExpandHint':'Tap to expand',
    }
    </script>
    {% endif %}
