{% unless grid_image_width %} {%- assign grid_image_width = '300x300' -%} {% endunless %}
<div class="grid-view-item{% unless product.available %} product-price--sold-out grid-view-item--sold-out{% endunless %}">
    <a class="grid-view-item__link" href="{{ product.url | within: collection }}">
        <div class="gridproimg">
            <div class="gridproimg_inr">
                <div class="custom_overlay">
                    <img class="grid-view-item__image" src="{{ product.featured_image.src | img_url: 'original' }}" alt="{{ product.featured_image.alt }}">
                </div>
            </div>
        </div>
        <div class="gridinfo">
            <div class="h4 grid-view-item__title">{{ product.title }}</div>
            {% if settings.vendor_enable %}
            <div class="grid-view-item__vendor">{{ product.vendor }}</div>
            {% endif %}
            <div class="grid-view-item__meta">
                {% include 'product-price' %}
            </div>
        </div>
    </a>
</div>
