<!-- Solution brought to you by Caroline Schnapp -->
<!-- See this: http://wiki.shopify.com/Related_Products -->

{% assign image_size = 'compact' %}
{% assign heading = '' %}


<div class="span16">
    <div class="related-product-tab inline-block smartphone-portrait-narrow-full-width" >
        <a class="tab-btn custom_tab" data-target="#product-related-styled" attr_name="styledwith">
            <span></span> {{ 'Styled With' }} </a>
    </div>
    <div class="related-product-tab inline-block smartphone-portrait-narrow-full-width" >
        <a class="tab-btn custom_tab" data-target="#product-related-category" attr_name="category">
            <span></span> {{ product.type }}
        </a>
    </div>
    <div class=" related-product-tab inline-block smartphone-portrait-narrow-full-width">
        <a class="tab-btn custom_tab" data-target="#product-related-brand"  attr_name="brand">
            <span></span> {{ product.vendor }}
        </a>
    </div>
</div>
<div class="span16" id="product-related-styled">
  <ul class="related-products"></ul>
</div>
<!-- <div class="span16" id="product-related-category">
  <ul class="related-products2"></ul>
</div>
<div class="span16" id="product-related-brand">
  <ul class="related-products3"></ul>
</div> -->

<style type="text/css">
.related-products { list-style-type:none }
{% case image_size %}
{% when 'small' %}
.related-products * { font-size:12px; text-align:center; padding:0 }
.related-products h4  { border:none; margin:10px 0 0 0; line-height:1.3 }
.related-products div.image { height:100px }
.related-products li { float:left; width:120px; height:160px; margin-right:20px }
{% when 'compact' %}
.related-products * { font-size:13px; text-align:center; padding:0 }
.related-products h4  { border:none; margin:5px 0 0 0; line-height:1.5 }
.related-products div.image { height:160px }
.related-products li { float:left; width:180px; height:220px; margin-right:25px }
{% when 'medium' %}
.related-products * { font-size:14px; text-align:center; padding:0 }
.related-products h4  { border:none; margin:10px 0 0 0; line-height:1.8 }
.related-products div.image { height:240px }
.related-products li { float:left; width:260px; height:300px; margin-right:25px }
{% endcase %}
.related-products { overflow:hidden }
.related-products span.money { font-size:0.8em }
.related-products li:last-child { margin-right:0 }
.custom_tab:hover {cursor: pointer;}
</style>


<!-- <script>!window.jQuery && document.write('<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"><\/script>')</script> -->
{{ 'api.jquery.js' | shopify_asset_url | script_tag }}

<script type="text/javascript" charset="utf-8">
//<![CDATA[
  
  var recommendations = [];
  {% if product.metafields.styledwith.productHandles %}
  recommendations = jQuery.trim({{ product.metafields.styledwith.productHandles | json }}).split(/[\s,;]+/);
  {% endif %}
  if (recommendations.length && recommendations[0] !== '') {
    var list = jQuery('ul.related-products');
    list.html('');
    for (var i=0; i<recommendations.length; i++) {
      jQuery.getJSON('/products/' + recommendations[i] + '.js', function(product) {
        list.append('<li><div class="image"><a href="' + product.url +'"><img src="' + product.images[0].replace(/(\.jpg|\.png|\.jpeg|\.gif)/, '_1024x1024$1') + '" /></a></div><h4><a href="' + product.url + '">' + product.title + '</a></h4><span class="money">' + Shopify.formatMoney(product.price, '{{ shop.money_format }}') + '</span></li>');
      });
    }
  } 

  //=========================================================

  $(".custom_tab").click(function(){
      var instruction = $(this).attr('attr_name');
      var recommendations = [];
      // var tag_a = '';
      if(instruction == 'category') {
        {% if product.metafields.category.productHandles %}
        recommendations = jQuery.trim({{ product.metafields.category.productHandles | json }}).split(/[\s,;]+/);
        {% endif %}
        $('.btn_brand').addClass('hide');
        $('.btn_category').removeClass('hide');
        $('.btn_styledwith').addClass('hide');
      } else if(instruction == 'brand') {
        {% if product.metafields.brand.productHandles %}
        recommendations = jQuery.trim({{ product.metafields.brand.productHandles | json }}).split(/[\s,;]+/);
        {% endif %}
        $('.btn_category').addClass('hide');
        $('.btn_brand').removeClass('hide');
        $('.btn_styledwith').addClass('hide');
      } else {
        {% if product.metafields.styledwith.productHandles %}
        recommendations = jQuery.trim({{ product.metafields.styledwith.productHandles | json }}).split(/[\s,;]+/);
        {% endif %}
        $('.btn_category').addClass('hide');
        $('.btn_brand').addClass('hide');
        $('.btn_styledwith').removeClass('hide');
      }
      
      $(this).addClass('active');
      if (recommendations.length && recommendations[0] !== '') {
        var list = jQuery('ul.related-products');
        list.html('');
        for (var i=0; i<recommendations.length; i++) {
          jQuery.getJSON('/products/' + recommendations[i] + '.js', function(product) {
            list.append('<li><div class="image"><a href="' + product.url +'"><img src="' + product.images[0].replace(/(\.jpg|\.png|\.jpeg|\.gif)/, '_1024x1024$1') + '" /></a></div><h4><a href="' + product.url + '">' + product.title + '</a></h4><span class="money">' + Shopify.formatMoney(product.price, '{{ shop.money_format }}') + '</span></li>');
          });
        }
      } 
  });

//]]>
</script>