<form action="/search" method="get" class="search-header search" role="search" id="custom-search-header" name="search">
  <input class="search-header__input search__input"
    type="search"
    name="q"
    placeholder="SEARCH"
	value="{{ search.terms }}"
    aria-label="{{ 'general.search.placeholder' | t }}">
  <button class="search-header__submit search__submit btn--link" type="submit">
   <!-- <label id="8032">Search</label>-->
    <span class="icon__fallback-text">{{ 'general.search.submit' | t }}</span>
  </button>
</form>
