<ul class="site-nav list--inline {{ nav_alignment }}" id="SiteNav">
  {%- comment %}<locksmith:3d45>{% endcomment -%}
    {% assign locksmith_e26e_forloop__size = 0 %}{% for link in linklists[section.settings.main_linklist].links %}{% include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: link %}{% if locksmith_transparent %}{% assign locksmith_e26e_forloop__size = locksmith_e26e_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_e26e_forloop__index = nil %}
  {%- comment %}</locksmith:3d45>{% endcomment -%}
  {% for link in linklists[section.settings.main_linklist].links %}
    {%- comment %}<locksmith:e734>{% endcomment -%}
      {% include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: link %}{% if locksmith_transparent %}{% if locksmith_e26e_forloop__index == nil %}{% assign locksmith_e26e_forloop__index = 1 %}{% assign locksmith_e26e_forloop__index0 = 0 %}{% else %}{% assign locksmith_e26e_forloop__index = locksmith_e26e_forloop__index | plus: 1 %}{% assign locksmith_e26e_forloop__index0 = locksmith_e26e_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_e26e_forloop__index == 1 %}{% assign locksmith_e26e_forloop__first = true %}{% else %}{% assign locksmith_e26e_forloop__first = false %}{% endif %}{% if locksmith_e26e_forloop__index == locksmith_e26e_forloop__size %}{% assign locksmith_e26e_forloop__last = true %}{% else %}{% assign locksmith_e26e_forloop__last = false %}{% endif %}{% assign locksmith_e26e_forloop__rindex = locksmith_e26e_forloop__size | minus: locksmith_e26e_forloop__index | minus: 1 %}{% assign locksmith_e26e_forloop__rindex0 = locksmith_e26e_forloop__size | minus: locksmith_e26e_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif %}
    {%- comment %}</locksmith:e734>{% endcomment -%}
    {%- assign child_list_handle = link.title | handleize -%}

    {% if linklists[child_list_handle].links != blank %}
      <li class="site-nav--has-dropdown{% if link.active %} site-nav--active{% endif %}">
        <a href="{{ link.url }}" class="site-nav__link site-nav__link--main" aria-has-popup="true" aria-expanded="false" aria-controls="SiteNavLabel-{{ child_list_handle }}">
          {{ link.title }}
          {% include 'icon-chevron-down' %}
          <span class="visually-hidden">{{ 'layout.navigation.expand' | t }}</span>
        </a>

        <div class="site-nav__dropdown" id="SiteNavLabel-{{ child_list_handle }}">
          <ul>
            {%- comment %}<locksmith:a714>{% endcomment -%}
              {% assign locksmith_d915_forloop__size = 0 %}{% for childlink in linklists[child_list_handle].links %}{% include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: childlink %}{% if locksmith_transparent %}{% assign locksmith_d915_forloop__size = locksmith_d915_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_d915_forloop__index = nil %}
            {%- comment %}</locksmith:a714>{% endcomment -%}
            {% for childlink in linklists[child_list_handle].links %}
              {%- comment %}<locksmith:8450>{% endcomment -%}
                {% include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: childlink %}{% if locksmith_transparent %}{% if locksmith_d915_forloop__index == nil %}{% assign locksmith_d915_forloop__index = 1 %}{% assign locksmith_d915_forloop__index0 = 0 %}{% else %}{% assign locksmith_d915_forloop__index = locksmith_d915_forloop__index | plus: 1 %}{% assign locksmith_d915_forloop__index0 = locksmith_d915_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_d915_forloop__index == 1 %}{% assign locksmith_d915_forloop__first = true %}{% else %}{% assign locksmith_d915_forloop__first = false %}{% endif %}{% if locksmith_d915_forloop__index == locksmith_d915_forloop__size %}{% assign locksmith_d915_forloop__last = true %}{% else %}{% assign locksmith_d915_forloop__last = false %}{% endif %}{% assign locksmith_d915_forloop__rindex = locksmith_d915_forloop__size | minus: locksmith_d915_forloop__index | minus: 1 %}{% assign locksmith_d915_forloop__rindex0 = locksmith_d915_forloop__size | minus: locksmith_d915_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif %}
              {%- comment %}</locksmith:8450>{% endcomment -%}
              <li {% if childlink.active %}class="site-nav--active"{% endif %}>
                <a href="{{ childlink.url }}" class="site-nav__link site-nav__child-link{% if locksmith_d915_forloop__last %} site-nav__link--last{% endif %}">{{ childlink.title | escape }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </li>
    {% else %}
      <li {% if link.active %}class="site-nav--active"{% endif %}>
        <a href="{{ link.url }}" class="site-nav__link site-nav__link--main">{{ link.title }}</a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
