{%- comment %}<locksmith:ce93>{% endcomment -%}
  {%- include 'locksmith', locksmith_context: 'layout/start' %}{% capture locksmith_source -%}
{%- comment %}</locksmith:ce93>{% endcomment -%}

<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  {% capture seo_title %}
    {{ page_title }}
    {% if current_tags %}
      {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {% endif %}
    {% if current_page != 1 %}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {% endif %}
    {% unless page_title contains shop.name %}
      &ndash; {{ shop.name }}
    {% endunless %}
  {% endcapture %}
  <title>{{ seo_title }}</title>

  {% if page_description %}
    {%- comment %}<locksmith:9a51>{% endcomment -%}
      {% include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta name="description" content="{{ page_description | escape }}">{% endif %}
      {%- comment %}original: <meta name="description" content="{{ page_description | escape }}">{%- endcomment %}
    {%- comment %}</locksmith:9a51>{% endcomment -%}
  {% endif %}

  {% include 'social-meta-tags' %}

  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  {% include 'google-fonts' %}
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script>
    var theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        showMore: {{ 'general.filters.show_more' | t | json }},
        showLess: {{ 'general.filters.show_less' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }}
    }
  </script>

  <!--[if (lte IE 9) ]>{{ 'match-media.min.js' | asset_url | script_tag }}<![endif]-->
  <link rel="stylesheet" href="{{ 'jquery.jscrollpane.css' | asset_url }}" type="text/css">
  <link rel="stylesheet" href="{{ 'custom_product_template.css' | asset_url }}" type="text/css">
  <link rel="stylesheet" href="{{ 'response320x480.css' | asset_url }}" type="text/css">
  {% if template contains 'customers' %}
    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'shopify_common.js' | shopify_asset_url }}"></script><![endif]-->
  {% endif %}

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'vendor.js' | asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'theme.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'theme.js' | asset_url }}"></script><![endif]-->
  <script src="{{ 'galleria-1.4.7.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'galleria-1.4.7.min.js' | asset_url }}" defer="defer"></script>
  {{ content_for_header }}
<script>window.mlvedaShopCurrency = "{{ shop.currency }}";
window.shopCurrency = "{{ shop.currency }}";
window.supported_currencies = "{{ settings.supported_currencies }}";
</script>
<link rel="stylesheet" href="{{ 'custom.css' | asset_url }}">
  {% include 'magiczoomplus.headers' %}
<script src="{{ 'custom.js' | asset_url }}" defer="defer"></script>
<!-- Important Owl stylesheet -->
<link rel="stylesheet" href="{{ 'owl.carousel.css' | asset_url }}">
 
<!-- Default Theme -->
<link rel="stylesheet" href="{{ 'owl.theme.css' | asset_url }}">
 
<!-- Include js plugin -->
<script src="{{ 'owl.carousel.js' | asset_url }}"></script>
</head>

<body class="template-{{ template | split: '.' | first }}">
  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  <div id="SearchDrawer" class="search-bar drawer drawer--top">
    <div class="search-bar__table">
      <div class="search-bar__table-cell search-bar__form-wrapper">
        <form class="search search-bar__form" action="/search" method="get" role="search">
          <button class="search-bar__submit search__submit btn--link" type="submit">
            {% include 'icon-search' %}
            <span class="icon__fallback-text">{{ 'general.search.submit' | t }}</span>
          </button>
          <input class="search__input search-bar__input" type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" aria-label="{{ 'general.search.placeholder' | t }}">
        </form>
      </div>
      <div class="search-bar__table-cell text-right">
        <button type="button" class="btn--link search-bar__close js-drawer-close">
          {% include 'icon-close' %}
          <span class="icon__fallback-text">{{ 'general.search.close' | t }}</span>
        </button>
      </div>
    </div>
  </div>
  
  {% section 'header' %}
  <div class="page-container" id="PageContainer">

    <main class="main-content" id="MainContent" role="main">
      {% include 'mlveda-currencies-switcher' %}
{{ content_for_layout }}
    </main>

    {% section 'footer' %}

  </div>
{% include 'mlveda-currencies' %}
  <div class="scrool-bottom hide">
    <img src="{{ 'scrool-down.png' | asset_url }}">
  </div>
  
  <script src="{{ 'jquery.mousewheel.js' | asset_url }}" defer="defer"></script>
  <!-- <script src="{{ 'mwheelIntent.js' | asset_url }}" defer="defer"></script> -->
  <script src="{{ 'jquery.jscrollpane.min.js' | asset_url }}" defer="defer"></script>
</body>
</html>

{%- comment %}<locksmith:b0c7>{% endcomment -%}
  {%- endcapture %}{% include 'locksmith', locksmith_context: 'layout/end' -%}
{%- comment %}</locksmith:b0c7>{% endcomment -%}