{% if section.settings.layout == 'grid' %} {%- assign limit = section.settings.grid | times: section.settings.rows -%} {% else %} {%- assign limit = 16 -%} {% endif %} {% paginate collection.products by 18 %}
<div data-section-id="{{ section.id }}" data-section-type="collection-template">
    <header class="collection-header">
        {% if section.settings.show_collection_image and collection.image %}
        <div class="collection-hero">
            <div class="collection-hero__image" style="background-image: url({{ collection.image | img_url: '1024x300', crop: 'top' }});"></div>
            <div class="collection-hero__title-wrapper">
                <h1 class="collection-hero__title page-width">{{ collection.title }}</h1>
            </div>
        </div>
        {% if collection.description != blank %}
        <div class="rte collection-description page-width">
            {{ collection.description }}
        </div>
        {% endif %} {% else %}
        <div class="page-width">
            <div class="section-header text-center">
                <h1>{{ collection.title }}</h1> {% if collection.description != blank %}
                <div class="rte">
                    {{ collection.description }}
                </div>
                {% endif %}
            </div>
        </div>
        {% endif %} {% if section.settings.tags_enable or section.settings.sort_enable %}
        <div class="filters-toolbar-wrapper">
            <div class="page-width">
                <div class="filters-toolbar">
                    {% if section.settings.tags_enable %}
                    <div class="filters-toolbar__item">
                        <label for="SortTags" class="label--hidden">{{ 'collections.filters.title_tags' | t }}</label>
                        <select class="filters-toolbar__input filters-toolbar__input--filter hidden" name="SortTags" id="SortTags">
                            {% if current_tags %} {% if collection.handle %}
                            <option value="/collections/{{ collection.handle }}">{{ 'collections.filters.all_tags' | t }}</option>
                            {% elsif collection.current_type %}
                            <option value="{{ collection.current_type | url_for_type }}">{{ 'collections.filters.all_tags' | t }}</option>
                            {% elsif collection.current_vendor %}
                            <option value="{{ collection.current_vendor | url_for_vendor }}">{{ 'collections.filters.all_tags' | t }}</option>
                            {% endif %} {% else %} {% if current_tags contains tag %}
                            <option value="">{{ 'collections.filters.all_tags' | t }}</option>
                            {% else %}
                            <option value="">{{ 'collections.filters.title_tags' | t }}</option>
                            {% endif %} {% endif %} {% for tag in collection.all_tags %}
                            <option value="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handleize }}" {% if current_tags contains tag %} selected="selected" {% endif %}>{{ tag }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% endif %}
                    <div class="filters-toolbar__item filters-toolbar__item--count">
                        <!-- <span class="filters-toolbar__product-count">{{ 'collections.general.items_with_count' | t: count: collection.products_count }}</span>-->
                    </div>
                    {% if section.settings.sort_enable %}
                    <div class="filters-toolbar__item text-right">
                        {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
                        <label for="SortBy" class="label--hidden">{{ 'collections.sorting.title' | t }}</label>
                        <select name="SortBy" id="SortBy" class="filters-toolbar__input filters-toolbar__input--sort hidden">
                            {% if sort_by == collection.default_sort_by %}
                            <option value="title-ascending" selected="selected">{{ 'collections.sorting.title' | t }}</option>
                            {% if collection.default_sort_by != 'manual' %}
                            <option value="manual" {% if sort_by=="manual" %} selected="selected" {% endif %}>{{ 'collections.sorting.featured' | t }}</option>
                            {% endif %} {% if collection.default_sort_by != 'best-selling' %}
                            <option value="best-selling" {% if sort_by=="best-selling" %} selected="selected" {% endif %}>{{ 'collections.sorting.best_selling' | t }}</option>
                            {% endif %} {% if collection.default_sort_by != 'title-ascending' %}
                            <option value="title-ascending" {% if sort_by=="title-ascending" %}selected="selected" {% endif %}>{{ 'collections.sorting.az' | t }}</option>
                            {% endif %} {% if collection.default_sort_by != 'title-descending' %}
                            <option value="title-descending" {% if sort_by=="title-descending" %} selected="selected" {% endif %}>{{ 'collections.sorting.za' | t }}</option>
                            {% endif %} {% if collection.default_sort_by != 'price-ascending' %}
                            <option value="price-ascending" {% if sort_by=="price-ascending" %} selected="selected" {% endif %}>{{ 'collections.sorting.price_ascending' | t }}</option>
                            {% endif %} {% if collection.default_sort_by != 'price-descending' %}
                            <option value="price-descending" {% if sort_by=="price-descending" %} selected="selected" {% endif %}>{{ 'collections.sorting.price_descending' | t }}</option>
                            {% endif %} {% if collection.default_sort_by != 'created-descending' %}
                            <option value="created-descending" {% if sort_by=="created-descending" %} selected="selected" {% endif %}>{{ 'collections.sorting.date_descending' | t }}</option>
                            {% endif %} {% if collection.default_sort_by != 'created-ascending' %}
                            <option value="created-ascending" {% if sort_by=="created-ascending" %} selected="selected" {% endif %}>{{ 'collections.sorting.date_ascending' | t }}</option>
                            {% endif %} {% else %}
                            <option value="manual" {% if sort_by=="manual" %} selected="selected" {% endif %}>{{ 'collections.sorting.featured' | t }}</option>
                            <option value="best-selling" {% if sort_by=="best-selling" %} selected="selected" {% endif %}>{{ 'collections.sorting.best_selling' | t }}</option>
                            <option value="title-ascending" {% if sort_by=="title-ascending" %}selected="selected" {% endif %}>{{ 'collections.sorting.az' | t }}</option>
                            <option value="title-descending" {% if sort_by=="title-descending" %} selected="selected" {% endif %}>{{ 'collections.sorting.za' | t }}</option>
                            <option value="price-ascending" {% if sort_by=="price-ascending" %} selected="selected" {% endif %}>{{ 'collections.sorting.price_ascending' | t }}</option>
                            <option value="price-descending" {% if sort_by=="price-descending" %} selected="selected" {% endif %}>{{ 'collections.sorting.price_descending' | t }}</option>
                            <option value="created-descending" {% if sort_by=="created-descending" %} selected="selected" {% endif %}>{{ 'collections.sorting.date_descending' | t }}</option>
                            <option value="created-ascending" {% if sort_by=="created-ascending" %} selected="selected" {% endif %}>{{ 'collections.sorting.date_ascending' | t }}</option>
                            {% endif %}
                        </select>
                        <input class="collection-header__default-sort" type="hidden" value="{{ collection.default_sort_by }}">
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
    </header>
    <div class="page-width" id="Collection">

        <div class="full-page">
                    <div class="mobile_tablet_shop">
            <div class="mobile_tablet_shop_header">
              <ul>
                <li><a class="mahfuz_refine_btn" href="#">CATEGORIES</a></li>
                <li><a class="mahfuz_designer_btn" href="#">Filters</a></li>
              </ul>             
              
            </div>
            <ul class="mahfuz_refine_sidebar">
                <li class="url_all li-lv1" data-url-web="{{ collection.url }}" data-all="/collections/All"><a href="/collections/All">ALL</a></li>
                {% assign count = 1 %}

                {% for link in linklists.sidebar-menu.links %}
                    {%- comment %}<locksmith:4cc1>{% endcomment -%}
                      {% include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: link %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif %}
                    {%- comment %}</locksmith:4cc1>{% endcomment -%}
                    <li class="li-lv1 test-{{ count }} {% if collection.url == link.url %}active{% endif %}"><a href="{{ link.url }}">{{ link.title }}</a></li>

                {% assign count = count | plus: 1 %}
                {%endfor%}
            </ul>
            <ul class="mahfuz_designer_sidebar">
                
                <li class="clear-all" data-clear="/collections/All" style="font-size: 10px;text-transform: uppercase;">[ Clear All ]</li>

                <li class="filters-text-mb checkbox-filters-Latest price-designers" data-sort-by_mb="?sort_by=created-descending" data-url-created="{{ collection.url }}" data-sort-created="?sort_by=created-descending" data-sx-mb="created-descending" data-sort-by="?sort_by=created-descending">Latest arrivals</li>

                <li class="filters-text-mb checkbox-filters-descending price-designers" data-url-descending="{{ collection.url }}" data-sort-descending="?sort_by=price-descending" data-sort-by_mb="?sort_by=price-descending" data-sx-mb="price-descending" data-sort-by="?sort_by=price-descending">PRICE: HIGH TO LOW</li>


                <li class="filters-text-mb checkbox-filters price-designers" data-url="{{ collection.url }}" data-sort="?sort_by=price-ascending" data-sort-by_mb="?sort_by=price-ascending" data-sx-mb="price-ascending" data-sort-by="?sort_by=price-ascending">PRICE: LOW TO HIGH</li>

                <li class="collection-designers" data-title="Designers">Designers +</li>
                    <ul class="ul-sidebar hide" style="margin-top: 5px;">
                        {% for product_vendor in collections.all.all_vendors %}
                        {%- comment %}<locksmith:2b8f>{% endcomment -%}
                          {% include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: product_vendor %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif %}
                        {%- comment %}</locksmith:2b8f>{% endcomment -%}
                        <li class="designers-md designchk-mb" data-href="{{ collection.url }}/{{ product_vendor | handle }}" data-designers-label-mb="/{{ product_vendor | handle }}">{{ product_vendor}}</li>
                        {% endfor %}
                    </ul>               
            </ul>
          </div>


            <ul class="collection custom-collection-template">
                <li class="url_all li-lv1" data-url-web="{{ collection.url }}" data-all="/collections/All"><a href="/collections/All">ALL</a></li>
                {% assign count = 1 %}

                {% for link in linklists.sidebar-menu.links %}
                    {%- comment %}<locksmith:25b2>{% endcomment -%}
                      {% include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: link %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif %}
                    {%- comment %}</locksmith:25b2>{% endcomment -%}
                    <li class="li-lv1 test-{{ count }} {% if collection.url == link.url %}active{% endif %}" data-menu="{{ link.url }}"><a href="{{ link.url }}">{{ link.title }}</a></li>
                
                {% assign count = count | plus: 1 %}
                {%endfor%}

                
                <li id="oil" class="collection-filters" data-title="filters" style="margin-top: 15px;">Filters +</li>
                    <ul class="ul-sidebar-filters hide" style="margin-left: 0px;">
                        
                        <li class="clear-all" data-clear="/collections/All" style="font-size: 10px">[ Clear All ]</li>


                        <li class="li_filter">
                            <input type="checkbox" class="checkbox-filters-Latest khiem" name="donation_checkbox_filters" id="filter-product-Latest" data-url-created="{{ collection.url }}" data-sort-created="?sort_by=created-descending" data-sx="created-descending">
                            <label for="filter-product-Latest" class="checkbox-filters-Latest price-designers" data-sort-by="?sort_by=created-descending">Latest arrivals</label>
                        </li>

                        <li class="li_filter">
                            <input type="checkbox" class="checkbox-filters-descending khiem" name="donation_checkbox_filters" id="filter-product-descending" data-url-descending="{{ collection.url }}" data-sort-descending="?sort_by=price-descending" data-sx="price-descending">
                            <label for="filter-product-descending" class="checkbox-filters-descending price-designers" data-sort-by="?sort_by=price-descending">PRICE: HIGH TO LOW</label>
                        </li>

                        <li class="li_filter">
                            <input type="checkbox" class="checkbox-filters khiem" name="donation_checkbox_filters" id="filter-product" data-url="{{ collection.url }}" data-sort="?sort_by=price-ascending" data-sx="price-ascending">
                            <label for="filter-product" class="checkbox-filters price-designers" data-sort-by="?sort_by=price-ascending">PRICE: LOW TO HIGH</label>
                        </li>



                        <li class="collection-designers-sidebar" data-title-sidebar="Designers">+ Designers</li>
                        <ul class="ul-sidebar design hide" id="designers-dt">
                            {% assign count = 1 %}

                            {% for product_vendor in collections.all.all_vendors %}


                            {%- comment %}<locksmith:258b>{% endcomment -%}
                              {% include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: product_vendor %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif %}
                            {%- comment %}</locksmith:258b>{% endcomment -%}
                            
                            <li class="designers-li">
                                <input type="checkbox" class="vonder-url" id="designers-cb-{{ count }}" data-href="{{ collection.url }}/{{ product_vendor | handle }}">
                                <label for="designers-cb-{{ count }}" class="designchk" data-designers-label="/{{ product_vendor | handle }}">{{ product_vendor }}</label>
                            </li>
                            {% assign count = count | plus: 1 %}
                            {% endfor %}


                        </ul>
                    </ul>


                
                </li>
            </ul>
            {% if section.settings.layout == 'grid' %} {% case section.settings.grid %} {% when '2' %} {%- assign grid_item_width = 'medium-up--one-half' -%} {%- assign image_size = '540x600' -%} {% when '3' %} {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%} {%- assign image_size = '345x550' -%} {% when '4' %} {%- assign grid_item_width = 'small--one-half medium-up--one-quarter' -%} {%- assign image_size = '250x250' -%} {% when '5' %} {%- assign grid_item_width = 'small--one-half medium-up--one-fifth' -%} {%- assign image_size = '195' -%} {% endcase %}
            <div class="andy-grid grid grid--uniform{% if collection.products_count > 0 %} grid--view-items{% endif %} custom-list-product">
                <!-- =========================================== -->
                
                {%- capture contentForQuerystring -%}{{ content_for_header }}{%- endcapture -%}

                {% comment %} Use string splitting to pull the value from content_for_header and apply some string clean up {% endcomment %}
                {%- assign pageUrl = contentForQuerystring | split:'"pageurl":"' | last | split:'"' | first | split:'.myshopify.com' | last |
                   replace:'\/','/' | 
                   replace:'%20',' ' | 
                   replace:'\u0026','&'
                -%}
                
                {%- assign pageQuerystring = pageUrl | split:'?' | last -%}


                {% if pageQuerystring contains 'sort_by' %}
                    {% for product in collection.products %}
                    {%- comment %}<locksmith:6717>{% endcomment -%}
                      {% include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: product %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif %}
                    {%- comment %}</locksmith:6717>{% endcomment -%}
                    <div class="grid__item {{ grid_item_width }}">
                        {% include 'product-card-grid', grid_image_width: image_size %}
                    </div>
                    {% else %} {% if product.images.size > 1 %}
                    <ul id="product-photo-thumbs" class="clearfix">
                        {% for image in product.images %}
                        <li class="product-photo-thumb">
                            <img src="{{ image.src | product_img_url: 'master' }}" alt="{{ image.alt | escape }}" />
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %} {% comment %} Add default products to help with onboarding for collections/all only. The onboarding styles and products are only loaded if the store has no products. {% endcomment %} {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
                    <div class="grid__item">
                        <div class="grid grid--uniform">
                            {% for i in (1..8) %}
                            <div class="grid__item {{ grid_item_width }}">
                                <div class="grid-view-item">
                                    <a href="#" class="grid-view-item__link">
                                        <div class="grid-view-item__image">
                                            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %} {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                                        </div>
                                        <div class="h4 grid-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                                        <div class="grid-view-item__meta">
                                            <span class="product-price__price">$19.99</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% else %} {%- assign is_empty_collection = true -%} {% endif %} {% endfor %}


                {% else %}

                
                    {% assign key = 'key' %}
                    {% assign customProducts = collection.products %}
         
                   
                    {% for product in customProducts %}
                        {% assign custom_order = product.metafields.order %}
                        {% assign key = 'key' %}
                    <!-- <p>Washing instructions: {{product.title}} - {{ custom_order.key }}.</p> -->
                    
                
                 
                    {% endfor %}


                    {% assign key = 'key' %}
                    {% assign newArray = false %}
                    {% assign zeroFill = '0000' %}
                    {% assign zeroFillSize = zeroFill | size %}
                    {% assign customProducts = collection.products %}
                    {% for product in collection.products %}

                        {% assign indexCharSize = forloop.index0 | append:'' | size %}
                        {% assign toSlice = zeroFillSize | minus:indexCharSize %}
                        {% assign tmpZeroFill = zeroFill | slice:0,toSlice %}
                        {% assign newOrder = product.metafields.order.key | default:'999999' %}
                        {% assign matrix = tmpZeroFill | append:newOrder | append:'.'  | append:forloop.index0 %}
                        {% if newArray %}
                            {% assign tmpIndex = matrix | split:',' %}
                            {% assign newArray = newArray | concat:tmpIndex %}
                        {% else %}
                            {% assign newArray = matrix | split:',' %}
                        {% endif %}
                    {% endfor %}

                    {% assign newArray = newArray | sort %}
                    {% for newArrayItem in newArray %}
                        {% assign i = newArrayItem | split:'.' | last | times:1 %}
                    {% assign product = collection.products[i] %}
                    {% assign i = product | split:'.' | last | times:1 %}
                    {%- comment %}<locksmith:6717>{% endcomment -%}
                      {% include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: product %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif %}
                    {%- comment %}</locksmith:6717>{% endcomment -%}
                    <div class="grid__item {{ grid_item_width }}">
                        {% include 'product-card-grid', grid_image_width: image_size %}
                    </div>
                    {% else %} {% if product.images.size > 1 %}
                    <ul id="product-photo-thumbs" class="clearfix">
                        {% for image in product.images %}
                        <li class="product-photo-thumb">
                            <img src="{{ image.src | product_img_url: 'master' }}" alt="{{ image.alt | escape }}" />
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %} {% comment %} Add default products to help with onboarding for collections/all only. The onboarding styles and products are only loaded if the store has no products. {% endcomment %} {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
                    <div class="grid__item">
                        <div class="grid grid--uniform">
                            {% for i in (1..8) %}
                            <div class="grid__item {{ grid_item_width }}">
                                <div class="grid-view-item">
                                    <a href="#" class="grid-view-item__link">
                                        <div class="grid-view-item__image">
                                            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %} {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                                        </div>
                                        <div class="h4 grid-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                                        <div class="grid-view-item__meta">
                                            <span class="product-price__price">$19.99</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% else %} {%- assign is_empty_collection = true -%} {% endif %} {% endfor %}
                {% endif %}
                
                <!-- =============================== -->

                
            </div>
            {% else %}
            <div class="list-view-items">
                {% for product in collection.products %}
                {%- comment %}<locksmith:0ae6>{% endcomment -%}
                  {% include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: product %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif %}
                {%- comment %}</locksmith:0ae6>{% endcomment -%}
                <a href="{{ product.url | within: collection }}" class="list-view-item">
            {% include 'product-card-list', product: product %}
          </a> {% else %} {% comment %} Add default products to help with onboarding for collections/all only. The onboarding styles and products are only loaded if the store has no products. {% endcomment %} {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0%} {% for i in (1..4) %}
                <a href="#" class="list-view-item">
                    <div class="list-view-item__image-column">
                        <div class="list-view-item__image-wrapper">
                            <div class="list-view-item__image">
                                {%- assign placeholder = 'placeholder-product-' | append: i -%} {% include placeholder %}
                            </div>
                        </div>
                    </div>
                    <div class="list-view-item__title-column">
                        <div class="list-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                    </div>
                    <div class="list-view-item__price-column">
                        <span class="product-price__price">$19.99</span>
                    </div>
                </a>
                {% endfor %} {% else %} {%- assign is_empty_collection = true -%} {% endif %} {% endfor %}
            </div>
            {% endif %} {% if is_empty_collection %}
            <div class="grid__item small--text-center custom-collection-empty">
                <p class="text-center">{{ 'collections.general.no_matches' | t }}</p>
            </div>
            {% endif %} {% if paginate.pages > 1 %} {% include 'pagination' %} {% endif %}
        </div>
    </div>
</div>
{% endpaginate %} {% schema %} { "name": "Collection pages", "settings": [ { "type": "select", "id": "layout", "label": "Layout", "default": "grid", "options": [ { "value": "grid", "label": "Grid" }, { "value": "list", "label": "List" } ] }, { "type": "select", "id": "grid", "label": "Products per row (grid only)", "default": "4", "options": [ { "value": "2", "label": "2" }, { "value": "3", "label": "3" }, { "value": "4", "label": "4" }, { "value": "5", "label": "5" } ] }, { "type": "select", "id": "rows", "label": "Rows per page (grid only)", "default": "6", "options": [ { "value": "3", "label": "3" }, { "value": "4", "label": "4" }, { "value": "5", "label": "5" }, { "value": "6", "label": "6" }, { "value": "7", "label": "7" }, { "value": "8", "label": "8" } ] }, { "type": "checkbox", "id": "show_collection_image", "label": "Show collection image", "default": true }, { "type": "checkbox", "id": "sort_enable", "label": "Enable sorting", "default": true }, { "type": "checkbox", "id": "tags_enable", "label": "Enable tag filtering", "default": true } ] } {% endschema %}
