{% if section.settings.layout == 'grid' %} {%- assign limit = section.settings.grid | times: section.settings.rows -%} {% else %} {%- assign limit = 16 -%} {% endif %} {% paginate collection.products by 18 %}
<div data-section-id="{{ section.id }}" data-section-type="collection-template">
    <header class="collection-header">
        {% if section.settings.show_collection_image and collection.image %}
        <div class="collection-hero">
            <div class="collection-hero__image" style="background-image: url({{ collection.image | img_url: '1024x300', crop: 'top' }});"></div>
            <div class="collection-hero__title-wrapper">
                <h1 class="collection-hero__title page-width">{{ collection.title }}</h1>
            </div>
        </div>
        {% if collection.description != blank %}
        <div class="rte collection-description page-width">
            {{ collection.description }}
        </div>
        {% endif %} {% else %}
        <div class="page-width garung-filter-vault">
            <div class="section-header text-center">
                <h1>{{ collection.title }}</h1> {% if collection.description != blank %}
                <div class="rte">
                    {{ collection.description }}
                </div>
                {% endif %}
            </div>
        </div>
        {% endif %} {% if section.settings.tags_enable or section.settings.sort_enable %}
        <div class="filters-toolbar-wrapper garung-filter-vault">
            <div class="page-width">
                <div class="filters-toolbar">
                    {% if section.settings.tags_enable %}
                    <div class="filters-toolbar__item">
                        <label for="SortTags" class="label--hidden">{{ 'collections.filters.title_tags' | t }}</label>
                        <select class="filters-toolbar__input filters-toolbar__input--filter hidden" name="SortTags" id="SortTags">
                            {% if current_tags %} {% if collection.handle %}
                            <option value="/collections/{{ collection.handle }}">{{ 'collections.filters.all_tags' | t }}</option>
                            {% elsif collection.current_type %}
                            <option value="{{ collection.current_type | url_for_type }}">{{ 'collections.filters.all_tags' | t }}</option>
                            {% elsif collection.current_vendor %}
                            <option value="{{ collection.current_vendor | url_for_vendor }}">{{ 'collections.filters.all_tags' | t }}</option>
                            {% endif %} {% else %} {% if current_tags contains tag %}
                            <option value="">{{ 'collections.filters.all_tags' | t }}</option>
                            {% else %}
                            <option value="">{{ 'collections.filters.title_tags' | t }}</option>
                            {% endif %} {% endif %} {% for tag in collection.all_tags %}
                            <option value="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handleize }}" {% if current_tags contains tag %} selected="selected" {% endif %}>{{ tag }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% endif %}
                    <div class="filters-toolbar__item filters-toolbar__item--count">
                        <!-- <span class="filters-toolbar__product-count">{{ 'collections.general.items_with_count' | t: count: collection.products_count }}</span>-->
                    </div>
                    {% if section.settings.sort_enable %}
                    <div class="filters-toolbar__item text-right">
                        {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
                        <label for="SortBy" class="label--hidden">{{ 'collections.sorting.title' | t }}</label>
                        <select name="SortBy" id="SortBy" class="filters-toolbar__input filters-toolbar__input--sort hidden">
                            {% if sort_by == collection.default_sort_by %}
                            <option value="title-ascending" selected="selected">{{ 'collections.sorting.title' | t }}</option>
                            {% if collection.default_sort_by != 'manual' %}
                            <option value="manual" {% if sort_by=="manual" %} selected="selected" {% endif %}>{{ 'collections.sorting.featured' | t }}</option>
                            {% endif %} {% if collection.default_sort_by != 'best-selling' %}
                            <option value="best-selling" {% if sort_by=="best-selling" %} selected="selected" {% endif %}>{{ 'collections.sorting.best_selling' | t }}</option>
                            {% endif %} {% if collection.default_sort_by != 'title-ascending' %}
                            <option value="title-ascending" {% if sort_by=="title-ascending" %} selected="selected" {% endif %}>{{ 'collections.sorting.az' | t }}</option>
                            {% endif %} {% if collection.default_sort_by != 'title-descending' %}
                            <option value="title-descending" {% if sort_by=="title-descending" %} selected="selected" {% endif %}>{{ 'collections.sorting.za' | t }}</option>
                            {% endif %} {% if collection.default_sort_by != 'price-ascending' %}
                            <option value="price-ascending" {% if sort_by=="price-ascending" %} selected="selected" {% endif %}>{{ 'collections.sorting.price_ascending' | t }}</option>
                            {% endif %} {% if collection.default_sort_by != 'price-descending' %}
                            <option value="price-descending" {% if sort_by=="price-descending" %} selected="selected" {% endif %}>{{ 'collections.sorting.price_descending' | t }}</option>
                            {% endif %} {% if collection.default_sort_by != 'created-descending' %}
                            <option value="created-descending" {% if sort_by=="created-descending" %} selected="selected" {% endif %}>{{ 'collections.sorting.date_descending' | t }}</option>
                            {% endif %} {% if collection.default_sort_by != 'created-ascending' %}
                            <option value="created-ascending" {% if sort_by=="created-ascending" %} selected="selected" {% endif %}>{{ 'collections.sorting.date_ascending' | t }}</option>
                            {% endif %} {% else %}
                            <option value="manual" {% if sort_by=="manual" %} selected="selected" {% endif %}>{{ 'collections.sorting.featured' | t }}</option>
                            <option value="best-selling" {% if sort_by=="best-selling" %} selected="selected" {% endif %}>{{ 'collections.sorting.best_selling' | t }}</option>
                            <option value="title-ascending" {% if sort_by=="title-ascending" %}selected="selected" {% endif %}>{{ 'collections.sorting.az' | t }}</option>
                            <option value="title-descending" {% if sort_by=="title-descending" %} selected="selected" {% endif %}>{{ 'collections.sorting.za' | t }}</option>
                            <option value="price-ascending" {% if sort_by=="price-ascending" %} selected="selected" {% endif %}>{{ 'collections.sorting.price_ascending' | t }}</option>
                            <option value="price-descending" {% if sort_by=="price-descending" %} selected="selected" {% endif %}>{{ 'collections.sorting.price_descending' | t }}</option>
                            <option value="created-descending" {% if sort_by=="created-descending" %} selected="selected" {% endif %}>{{ 'collections.sorting.date_descending' | t }}</option>
                            <option value="created-ascending" {% if sort_by=="created-ascending" %} selected="selected" {% endif %}>{{ 'collections.sorting.date_ascending' | t }}</option>
                            {% endif %}
                        </select>
                        <input class="collection-header__default-sort" type="hidden" value="{{ collection.default_sort_by }}">
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
    </header>
    <div class="page-width garung-collection-vault" id="Collection">

        <div class="full-page">
                    <div class="mobile_tablet_shop">
            <div class="mobile_tablet_shop_header">
              <ul>
                <li><a class="mahfuz_refine_btn" href="#">CATEGORIES</a></li>
                <li><a class="mahfuz_designer_btn" href="#">111Designers</a></li>
              </ul>             
              
            </div>
            <ul class="mahfuz_refine_sidebar">
                {% for link in linklists.sidebar-menu.links %}
                    {%- comment %}<locksmith:607c>{% endcomment -%}
                      {% include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: link %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif %}
                    {%- comment %}</locksmith:607c>{% endcomment -%}
                    <li class="li-lv1"><a href="{{ link.url }}">{{ link.title }}</a></li>
                {%endfor%}
            </ul>
            <ul class="mahfuz_designer_sidebar">
                
                <li class="collection-designers" data-title="Designers">Designers +</li>
                    <ul class="ul-sidebar hide">
                        {% for product_vendor in collections.all.all_vendors %}
                        {%- comment %}<locksmith:b855>{% endcomment -%}
                          {% include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: product_vendor %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif %}
                        {%- comment %}</locksmith:b855>{% endcomment -%}
                        <li>{{ product_vendor | link_to_vendor }}</li>
                        {% endfor %}
                    </ul>
                </li>          
            </ul>
          </div>
          
            <ul class="collection custom-collection-template garung-sidebar-vault">
                {% for link in linklists.sidebar-menu.links %}
                    {%- comment %}<locksmith:e0d2>{% endcomment -%}
                      {% include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: link %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif %}
                    {%- comment %}</locksmith:e0d2>{% endcomment -%}
                    <li class="li-lv1"><a href="{{ link.url }}">{{ link.title }}</a></li>
                {%endfor%}
                <li class="collection-designers" data-title="Designers">Designers +</li>
                    <ul class="ul-sidebar hide">
                        {% for product_vendor in collections.all.all_vendors %}
                        {%- comment %}<locksmith:12cf>{% endcomment -%}
                          {% include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: product_vendor %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif %}
                        {%- comment %}</locksmith:12cf>{% endcomment -%}
                        <li>{{ product_vendor | link_to_vendor }}</li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            {% if section.settings.layout == 'grid' %} {% case section.settings.grid %} {% when '2' %} {%- assign grid_item_width = 'medium-up--one-half' -%} {%- assign image_size = '540x600' -%} {% when '3' %} {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%} {%- assign image_size = '345x550' -%} {% when '4' %} {%- assign grid_item_width = 'small--one-half medium-up--one-quarter' -%} {%- assign image_size = '250x250' -%} {% when '5' %} {%- assign grid_item_width = 'small--one-half medium-up--one-fifth' -%} {%- assign image_size = '195' -%} {% endcase %}
            <div class="andy-grid grid grid--uniform{% if collection.products_count > 0 %} grid--view-items{% endif %} custom-list-product">
                {% for product in collection.products %}
                {%- comment %}<locksmith:1086>{% endcomment -%}
                  {% include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: product %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif %}
                {%- comment %}</locksmith:1086>{% endcomment -%}
                <div class="grid__item {{ grid_item_width }}">
                    {% include 'product-card-grid', grid_image_width: image_size %}
                </div>
                {% else %} {% if product.images.size > 1 %}
                <ul id="product-photo-thumbs" class="clearfix">
                    {% for image in product.images %}
                    <li class="product-photo-thumb">
                        <img src="{{ image.src | product_img_url: 'master' }}" alt="{{ image.alt | escape }}" />
                    </li>
                    {% endfor %}
                </ul>
                {% endif %} {% comment %} Add default products to help with onboarding for collections/all only. The onboarding styles and products are only loaded if the store has no products. {% endcomment %} {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
                <div class="grid__item">
                    <div class="grid grid--uniform">
                        {% for i in (1..8) %}
                        <div class="grid__item {{ grid_item_width }}">
                            <div class="grid-view-item">
                                <a href="#" class="grid-view-item__link">
                                    <div class="grid-view-item__image">
                                        {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %} {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                                    </div>
                                    <div class="h4 grid-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                                    <div class="grid-view-item__meta">
                                        <span class="product-price__price">$19.99</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% else %} {%- assign is_empty_collection = true -%} {% endif %} {% endfor %}
            </div>
            {% else %}
            <div class="list-view-items">
                {% for product in collection.products %}
                {%- comment %}<locksmith:8911>{% endcomment -%}
                  {% include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: product %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif %}
                {%- comment %}</locksmith:8911>{% endcomment -%}
                <a href="{{ product.url | within: collection }}" class="list-view-item">
            {% include 'product-card-list', product: product %}
          </a> {% else %} {% comment %} Add default products to help with onboarding for collections/all only. The onboarding styles and products are only loaded if the store has no products. {% endcomment %} {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0%} {% for i in (1..4) %}
                <a href="#" class="list-view-item">
                    <div class="list-view-item__image-column">
                        <div class="list-view-item__image-wrapper">
                            <div class="list-view-item__image">
                                {%- assign placeholder = 'placeholder-product-' | append: i -%} {% include placeholder %}
                            </div>
                        </div>
                    </div>
                    <div class="list-view-item__title-column">
                        <div class="list-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                    </div>
                    <div class="list-view-item__price-column">
                        <span class="product-price__price">$19.99</span>
                    </div>
                </a>
                {% endfor %} {% else %} {%- assign is_empty_collection = true -%} {% endif %} {% endfor %}
            </div>
            {% endif %} {% if is_empty_collection %}
            <div class="grid__item small--text-center custom-collection-empty">
                <p class="text-center garung-vault-empty">VAULT IS CURRENTLY EMPTY. PLEASE CHECK BACK REGULARLY &amp; KEEP AN EYE ON YOUR EMAIL FOR UPDATES</p>
            </div>
            {% endif %} {% if paginate.pages > 1 %} {% include 'pagination' %} {% endif %}
        </div>
    </div>
</div>
{% endpaginate %} {% schema %} { "name": "Collection pages", "settings": [ { "type": "select", "id": "layout", "label": "Layout", "default": "grid", "options": [ { "value": "grid", "label": "Grid" }, { "value": "list", "label": "List" } ] }, { "type": "select", "id": "grid", "label": "Products per row (grid only)", "default": "4", "options": [ { "value": "2", "label": "2" }, { "value": "3", "label": "3" }, { "value": "4", "label": "4" }, { "value": "5", "label": "5" } ] }, { "type": "select", "id": "rows", "label": "Rows per page (grid only)", "default": "6", "options": [ { "value": "3", "label": "3" }, { "value": "4", "label": "4" }, { "value": "5", "label": "5" }, { "value": "6", "label": "6" }, { "value": "7", "label": "7" }, { "value": "8", "label": "8" } ] }, { "type": "checkbox", "id": "show_collection_image", "label": "Show collection image", "default": true }, { "type": "checkbox", "id": "sort_enable", "label": "Enable sorting", "default": true }, { "type": "checkbox", "id": "tags_enable", "label": "Enable tag filtering", "default": true } ] } {% endschema %}