{%- assign social_icons = false -%} {% if settings.social_twitter_link != blank or settings.social_facebook_link != blank or settings.social_pinterest_link != blank or settings.social_instagram_link != blank or settings.social_tumblr_link != blank or settings.social_snapchat_link != blank or settings.social_youtube_link != blank or settings.social_vimeo_link != blank or template contains 'article' or template contains 'blog' %} {%- assign social_icons = true -%} {% endif %}
<footer class="site-footer" role="contentinfo">
    <!--    <div class="grid grid--no-gutters">


      <div class="grid__item{% if section.settings.footer_newsletter_enable and section.settings.footer_linklist != blank %} medium-up--one-quarter{% elsif section.settings.footer_linklist == blank and section.settings.footer_newsletter_enable %} medium-up--one-half{% else %} text-center{% endif %}">
        {%- assign footer_linklist_two = section.settings.footer_linklist_two -%}
        {% if linklists[footer_linklist_two].links.size > 0 %}
          <ul class="site-footer__linklist{% unless section.settings.footer_newsletter_enable %} site-footer__linklist--center{% endunless %}">
            {% for link in linklists[footer_linklist_two].links %}
              {%- comment %}<locksmith:4ed1>{% endcomment -%}
                {% include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: link %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif %}
              {%- comment %}</locksmith:4ed1>{% endcomment -%}
              <li class="site-footer__linklist-item">
                <a href="{{ link.url }}">{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>

      {% if section.settings.footer_newsletter_enable %}
        <div class="grid__item medium-up--one-half">
          <div class="site-footer__newsletter">
            {% form 'customer' %}
              {{ form.errors | default_errors }}
              {% if form.posted_successfully? %}
                <p class="form--success">{{ 'general.newsletter_form.confirmation' | t }}</p>
              {% else %}
                <label for="Email" class="h4">{{ 'general.newsletter_form.newsletter_email' | t }}</label>
                <div class="input-group">
                  <input type="hidden" name="contact[tags]" value="newsletter">
                  <input type="email"
                    name="contact[email]"
                    id="Email"
                    class="input-group__field newsletter__input"
                    value="{% if customer %}{{ customer.email }}{% endif %}"
                    placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
                    autocorrect="off"
                    autocapitalize="off">
                  <span class="input-group__btn">
                    <button type="submit" class="btn newsletter__submit" name="commit" id="Subscribe">
                      <span class="newsletter__submit-text--large">{{ 'general.newsletter_form.submit' | t }}</span>
                    </button>
                  </span>
                </div>
              {% endif %}
            {% endform %}
          </div>
        </div>
      {% endif %}
    </div>  -->
    <div class="grid-item-l grid-item-r ">
      <div class="footer-desktop">
        <div class="site-footer__copyright{% if social_icons and section.settings.footer_newsletter_enable != blank %} site-footer__copyright--right medium-up--text-right{% elsif social_icons == false and section.settings.footer_newsletter_enable %} medium-up--text-left{% endif %}  text-left">
            {% unless social_icons and section.settings.footer_newsletter_enable and section.settings.show_payment_icons %}
            <!-- <small class="site-footer__copyright-content">&copy; {{ 'now' | date: "%Y" }},{{ shop.name | link_to: '/' }} </small>-->
            <small class="site-footer__copyright-content">&copy; 2017 LESSONS Concept Store</small>
            <div class="grid__item{% if section.settings.footer_newsletter_enable and section.settings.footer_linklist_two != blank %} medium-up--one-quarter{% elsif section.settings.footer_linklist_two == blank and section.settings.footer_newsletter_enable %} medium-up--one-half{% else %} text-center{% endif %}">
                {%- assign footer_linklist = section.settings.footer_linklist -%} {% if linklists[footer_linklist].links.size > 0 %}
                <ul class="site-footer__linklist{% unless section.settings.footer_newsletter_enable %} site-footer__linklist--center{% endunless %}">
                    {% for link in linklists[footer_linklist].links %}
                    {%- comment %}<locksmith:0b8e>{% endcomment -%}
                      {% include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: link %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif %}
                    {%- comment %}</locksmith:0b8e>{% endcomment -%}
                    <li class="site-footer__linklist-item">
                        <a href="{{ link.url }}">{{ link.title }}</a>
                    </li>
                    {% endfor %} {% if shop.customer_accounts_enabled %} {% if customer %}
                    <li class="site-footer__linklist-item">
                        <a href="/account" class="site-nav__link site-nav__link--main">{{ 'layout.customer.account' | t }}</a>
                    </li>
                    {% else %}
                    <li class="site-footer__linklist-item">
                        <a href="/account/login" class="site-nav__link site-nav__link--main">{{ 'layout.customer.log_in' | t }}</a>
                    </li>
                    {% endif %} {% endif %}
                </ul>
                {% endif %}
            </div>
            {% if section.settings.show_powered_by %}
            <small class="site-footer__copyright-content">{{ powered_by_link }}</small> {% endif %} {% endunless %} {% if section.settings.show_payment_icons %}
            <div class="site-footer__payment-icons{% unless social_icons or section.settings.footer_newsletter_enable == blank %} site-footer__payment-icons--right{% endunless %}">
                {% unless shop.enabled_payment_types == empty %} {%- assign payment_icons_available = 'amazon_payments,american_express,apple_pay,bitcoin,cirrus,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,interac,jcb,litecoin,maestro,master,paypal,stripe,visa' | split: ',' -%}
                <ul class="payment-icons list--inline">
                    {% for type in shop.enabled_payment_types %} {% if payment_icons_available contains type %}
                    <li class="payment-icon">
                        {%- assign icon_name = type | prepend: 'icon-' -%} {% include icon_name %}
                    </li>
                    {% endif %} {% endfor %}
                </ul>
                {% endunless %}
            </div>
            {% endif %}
        </div>
        {% if social_icons and section.settings.footer_newsletter_enable and section.settings.show_payment_icons %}
        <div class="site-footer__copyright--bottom">
            <small class="site-footer__copyright-content">&copy; {{ 'now' | date: "%Y" }},{{ shop.name | link_to: '/' }} </small>
            <small class="site-footer__copyright-content">{{ powered_by_link }}</small>
        </div>
        {% endif %}
        <div class="text-right">
            <a class="footer-link video" href="{{'/pages/zippay' }}">ZIP PAY</a>
            
            <a class="footer-link video" href="{{ pages.video.url }}">VIDEO</a>
            <a class="footer-link imagery" href="{{ pages.image-gallery.url }}">IMAGERY</a>

            


            <a class="footer-link register" href="{{ '/pages/policies' | page_url }}">POLICIES</a>
            <a class="footer-link register" href="{{ '/account/register' | page_url }}">REGISTER</a>
            <a class="footer-link contact" href="{{ '/pages/contact' | page_url }}">CONTACT</a>
            <a class="footer-link contact" href="{{ '/pages/shipping' | page_url }}">SHIPPING</a>
            <a class="footer-link concept" href="{{ '/pages/concept-store' | page_url }}">CONCEPT STORE</a>
            <a class="footer-link press" href="{{ '/pages/press' | page_url }}">PRESS</a> {% if social_icons %}
            <ul class="list--inline site-footer__social-icons social-icons">
                {% if settings.social_facebook_link != blank %}
                <li>
                    <a class="social-icons__link" href="{{ settings.social_facebook_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}">
                  {% include 'icon-facebook-new' %}
                  <span class="icon__fallback-text">Facebook</span>
                </a>
                </li>
                {% endif %} {% if settings.social_twitter_link != blank %}
                <li>
                    <a class="social-icons__link" href="{{ settings.social_twitter_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}">
                  {% include 'icon-twitter' %}
                  <span class="icon__fallback-text">Twitter</span>
                </a>
                </li>
                {% endif %} {% if settings.social_pinterest_link != blank %}
                <li>
                    <a class="social-icons__link" href="{{ settings.social_pinterest_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}">
                  {% include 'icon-pinterest' %}
                  <span class="icon__fallback-text">Pinterest</span>
                </a>
                </li>
                {% endif %} {% if settings.social_instagram_link != blank %}
                <li>
                    <a class="social-icons__link" href="{{ settings.social_instagram_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}">
                  {% include 'icon-instagram-new' %}
                  <span class="icon__fallback-text">Instagram</span>
                </a>
                </li>
                {% endif %} {% if settings.social_tumblr_link != blank %}
                <li>
                    <a class="social-icons__link" href="{{ settings.social_tumblr_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}">
                  {% include 'icon-tumblr' %}
                  <span class="icon__fallback-text">Tumblr</span>
                </a>
                </li>
                {% endif %} {% if settings.social_snapchat_link != blank %}
                <li>
                    <a class="social-icons__link" href="{{ settings.social_snapchat_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Snapchat' }}">
                  {% include 'icon-snapchat' %}
                  <span class="icon__fallback-text">Snapchat</span>
                </a>
                </li>
                {% endif %} {% if settings.social_youtube_link != blank %}
                <li>
                    <a class="social-icons__link" href="{{ settings.social_youtube_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}">
                  {% include 'icon-youtube' %}
                  <span class="icon__fallback-text">YouTube</span>
                </a>
                </li>
                {% endif %} {% if settings.social_vimeo_link != blank %}
                <li>
                    <a class="social-icons__link" href="{{ settings.social_vimeo_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}">
                  {% include 'icon-vimeo' %}
                  <span class="icon__fallback-text">Vimeo</span>
                </a>
                </li>
                {% endif %} {% if template contains 'blog' or template contains 'article' %}
                <li>
                    <a class="social-icons__link" href="{{ shop.url }}{{ blog.url }}.atom">
                  {% include 'icon-rss' %}
                  <span class="icon__fallback-text">RSS</span>
                </a>
                </li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
      
        <div class="mobile_footer_menu">
        	<a class="footer-link register" href="{{ '/pages/policies' | page_url }}">POLICIES</a>
                      <a class="footer-link contact" href="{{ '/pages/contact' | page_url }}">CONTACT</a>
              <a class="footer-link contact" href="{{ '/pages/shipping' | page_url }}">SHIPPING</a>
        </div>
      </div>
      <div class="footer-mobile">
          <div class="mobile_footer_menu">
            <a class="footer-link register" href="{{ '/pages/policies' | page_url }}">POLICIES</a>
                        <a class="footer-link contact" href="{{ '/pages/contact' | page_url }}">CONTACT</a>
                <a class="footer-link contact" href="{{ '/pages/shipping' | page_url }}">SHIPPING</a>

                <a class="footer-link video" href="{{'/pages/zippay' }}">ZIP PAY</a>
            
                <a class="footer-link video" href="{{ pages.video.url }}">VIDEO</a>
                <a class="footer-link imagery" href="{{ pages.image-gallery.url }}">IMAGERY</a>
                <a class="footer-link register" href="{{ '/account/register' | page_url }}">REGISTER</a>
                <a class="footer-link concept" href="{{ '/pages/concept-store' | page_url }}">CONCEPT STORE</a>
                <a class="footer-link press" href="{{ '/pages/press' | page_url }}">PRESS</a>
          </div>   
          <div class="text-right">
              <ul class="list--inline site-footer__social-icons social-icons">
                  {% if settings.social_facebook_link != blank %}
                  <li>
                      <a class="social-icons__link" href="{{ settings.social_facebook_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}">
                    {% include 'icon-facebook-new' %}
                    <span class="icon__fallback-text">Facebook</span>
                  </a>
                  </li>
                  {% endif %} 
                  {% if settings.social_twitter_link != blank %}
                  <li>
                      <a class="social-icons__link" href="{{ settings.social_twitter_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}">
                    {% include 'icon-twitter' %}
                    <span class="icon__fallback-text">Twitter</span>
                  </a>
                  </li>
                  {% endif %} 
                  {% if settings.social_pinterest_link != blank %}
                  <li>
                      <a class="social-icons__link" href="{{ settings.social_pinterest_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}">
                    {% include 'icon-pinterest' %}
                    <span class="icon__fallback-text">Pinterest</span>
                  </a>
                  </li>
                  {% endif %} 
                  {% if settings.social_instagram_link != blank %}
                  <li>
                      <a class="social-icons__link" href="{{ settings.social_instagram_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}">
                    {% include 'icon-instagram-new' %}
                    <span class="icon__fallback-text">Instagram</span>
                  </a>
                  </li>
                  {% endif %} 
                  {% if settings.social_tumblr_link != blank %}
                  <li>
                      <a class="social-icons__link" href="{{ settings.social_tumblr_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}">
                    {% include 'icon-tumblr' %}
                    <span class="icon__fallback-text">Tumblr</span>
                  </a>
                  </li>
                  {% endif %} 
                  {% if settings.social_snapchat_link != blank %}
                  <li>
                      <a class="social-icons__link" href="{{ settings.social_snapchat_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Snapchat' }}">
                    {% include 'icon-snapchat' %}
                    <span class="icon__fallback-text">Snapchat</span>
                  </a>
                  </li>
                  {% endif %} 
                  {% if settings.social_youtube_link != blank %}
                  <li>
                      <a class="social-icons__link" href="{{ settings.social_youtube_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}">
                    {% include 'icon-youtube' %}
                    <span class="icon__fallback-text">YouTube</span>
                  </a>
                  </li>
                  {% endif %} 
                  {% if settings.social_vimeo_link != blank %}
                  <li>
                      <a class="social-icons__link" href="{{ settings.social_vimeo_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}">
                    {% include 'icon-vimeo' %}
                    <span class="icon__fallback-text">Vimeo</span>
                  </a>
                  </li>
                  {% endif %} 
                  {% if template contains 'blog' or template contains 'article' %}
                  <li>
                      <a class="social-icons__link" href="{{ shop.url }}{{ blog.url }}.atom">
                    {% include 'icon-rss' %}
                    <span class="icon__fallback-text">RSS</span>
                  </a>
                  </li>
                  {% endif %}
              </ul>
          </div>
          <small class="site-footer__copyright-content">&copy; 2017 LESSONS Concept Store</small>
      </div>
    </div>
    <div class="clear"></div>
    <script type="text/javascript">
      window.onload = function(){
         setTimeout(function(){ change_name_currency(); }, 500);
      };
    </script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.menu-button').click(function(){
          $('.mahfuz_mobile_menu').css('top', '0px');
          $('html').addClass('menu_open');
      })

      $('.croxx_menu').click(function(){
          $('.mahfuz_mobile_menu').css('top', '-100%');
      });
    });
  </script>
</footer>
{% schema %} { "name": "Footer", "settings": [ { "type": "link_list", "id": "footer_linklist", "label": "First menu", "default": "footer" }, { "type": "link_list", "id": "footer_linklist_two", "label": "Second menu", "default": "main-menu" }, { "type": "checkbox", "id": "footer_newsletter_enable", "label": "Show newsletter signup", "default": false }, { "type": "checkbox", "id": "show_payment_icons", "label": "Show payment icons", "default": false }, { "type": "checkbox", "id": "show_powered_by", "label": "Show 'Powered by Shopify'", "default": true } ] } {% endschema %}
