<div class="page-width">
    {% if section.settings.title != blank %}
    <div class="section-header text-center">
        <!--<h2>{{ section.settings.title | escape }}</h2>-->
        <span><img src="https://cdn.shopify.com/s/files/1/1521/0224/files/14360095_1783995211882187_8811669133423804416_n.jpg?9818432445120973427 " style="width:300px;"/></span>
        <span><img src="https://cdn.shopify.com/s/files/1/1521/0224/files/14474512_1461832787166420_2324533517179944960_n.jpg?9818432445120973427" style="width:300px;margin-left:80px;"/></span>
    </div>
    {% endif %} {%- assign collection = collections[section.settings.collection] -%} {% case section.settings.grid %} {% when '2' %} {%- assign grid_item_width = 'medium-up--one-half' -%} {%- assign image_size = '540x600' -%} {% when '3' %} {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%} {%- assign image_size = '345x550' -%} {% when '4' %} {%- assign grid_item_width = 'small--one-half medium-up--one-quarter' -%} {%- assign image_size = 'large' -%} {% when '5' %} {%- assign grid_item_width = 'small--one-half medium-up--one-fifth' -%} {%- assign image_size = '195x' -%} {% endcase %} {%- assign product_limit = section.settings.grid | times: section.settings.rows -%}
    <div class="grid grid--uniform grid--view-items">
        {% for product in collection.products limit: product_limit %}
        {%- comment %}<locksmith:f109>{% endcomment -%}
          {% include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: product %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif %}
        {%- comment %}</locksmith:f109>{% endcomment -%}
        <div class="grid__item {{ grid_item_width }}">
            {% include 'product-card-grid', grid_image_width: large %}
        </div>
        {% else %}
        <div>
            <span><img src="https://cdn.shopify.com/s/files/1/1521/0224/files/14360095_1783995211882187_8811669133423804416_n.jpg?9818432445120973427 " style="width:300px;margin-left:50px;"/></span>
            <span><img src="https://cdn.shopify.com/s/files/1/1521/0224/files/14474512_1461832787166420_2324533517179944960_n.jpg?9818432445120973427" style="width:300px;margin-left:80px;"/></span>
            <span><img src="https://cdn.shopify.com/s/files/1/1521/0224/files/14360095_1783995211882187_8811669133423804416_n.jpg?9818432445120973427 " style="width:300px;margin-left:80px;"/></span>
        </div>
        <div>
            <span><img src="https://cdn.shopify.com/s/files/1/1521/0224/files/slideshow_1.jpg?17202992009267835574" style="width:800px;height:500px;margin-top:50px;margin-left:180px;"/></span>
        </div>
        <div>
            <span></span>
            <span></span>
            <span></span>
        </div>
        {% for i in (1..product_limit) %}
        <div class="grid__item {{ grid_item_width }}">
            <div class="grid-view-item">
                <a href="#" class="">
                    <div class="collection-grid-item__overlay">
                        {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %} {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                    </div>-->
                    <div class="h4 grid-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                    <div class="grid-view-item__meta">
                        {% include 'product-price' %}
                    </div>
                </a>
            </div>
        </div>
        {% endfor %} {% endfor %}
    </div>
    {% if section.settings.show_view_all %}
    <hr class="hr--invisible" />
    <div class="text-center">
        <a href="{{ collection.url }}" class="btn">
        {{ 'collections.general.view_all' | t }}
      </a>
    </div>
    {% endif %}
</div>
<div id="main-product-image">
    <img src="{{ product.images.first | product_img_url: 'large' }}" alt="{{ product.title }}" />
</div>
</div>
<div id="thumbnails">{% if product.images.size > 1 %}
    <ul class="product-single__thumbnails grid-uniform" id="ProductThumbs">
        {% for image in product.images %}
        <li class="grid__item one-fifth medium-down--one-third">
            <a href="{{ image | product_img_url: 'large' }}" title="{{ product.title }}"><img src="{{ image | product_img_url: 'small' }}" alt="{{ product.title | escape }}" /></a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% schema %} { "name": "Featured collection", "class": "index-section", "settings": [ { "type": "text", "id": "title", "label": "Heading", "default": "Featured collection" }, { "id": "collection", "type": "collection", "label": "Collection" }, { "type": "select", "id": "grid", "label": "Products per row", "default": "3", "options": [ { "value": "2", "label": "2" }, { "value": "3", "label": "3" }, { "value": "4", "label": "4" }, { "value": "5", "label": "5" } ] }, { "type": "select", "id": "rows", "label": "Rows", "default": "2", "options": [ { "value": "1", "label": "1" }, { "value": "2", "label": "2" }, { "value": "3", "label": "3" }, { "value": "4", "label": "4" }, { "value": "5", "label": "5" } ] }, { "type": "checkbox", "id": "show_view_all", "label": "Show 'View all' button", "default": false } ], "presets": [ { "name": "Featured collection", "category": "Collection" } ] } {% endschema %}
