{% if section.settings.message %}
  <style>
    .notification-bar {
      background-color: {{ section.settings.color_bg }};
    }

    .notification-bar__message {
      color: {{ section.settings.color_text }};
    }
  </style>
{% endif %}

<div data-section-id="{{ section.id }}" data-section-type="header-section">
  <nav class="mobile-nav-wrapper medium-up--hide" role="navigation">
    <ul id="MobileNav" class="mobile-nav">
      {%- comment %}<locksmith:ed1d>{% endcomment -%}
        {% assign locksmith_622d_forloop__size = 0 %}{% for link in linklists[section.settings.main_linklist].links %}{% include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: link %}{% if locksmith_transparent %}{% assign locksmith_622d_forloop__size = locksmith_622d_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_622d_forloop__index = nil %}
      {%- comment %}</locksmith:ed1d>{% endcomment -%}
      {% for link in linklists[section.settings.main_linklist].links %}
        {%- comment %}<locksmith:4202>{% endcomment -%}
          {% include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: link %}{% if locksmith_transparent %}{% if locksmith_622d_forloop__index == nil %}{% assign locksmith_622d_forloop__index = 1 %}{% assign locksmith_622d_forloop__index0 = 0 %}{% else %}{% assign locksmith_622d_forloop__index = locksmith_622d_forloop__index | plus: 1 %}{% assign locksmith_622d_forloop__index0 = locksmith_622d_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_622d_forloop__index == 1 %}{% assign locksmith_622d_forloop__first = true %}{% else %}{% assign locksmith_622d_forloop__first = false %}{% endif %}{% if locksmith_622d_forloop__index == locksmith_622d_forloop__size %}{% assign locksmith_622d_forloop__last = true %}{% else %}{% assign locksmith_622d_forloop__last = false %}{% endif %}{% assign locksmith_622d_forloop__rindex = locksmith_622d_forloop__size | minus: locksmith_622d_forloop__index | minus: 1 %}{% assign locksmith_622d_forloop__rindex0 = locksmith_622d_forloop__size | minus: locksmith_622d_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif %}
        {%- comment %}</locksmith:4202>{% endcomment -%}
        {%- assign child_list_handle = link.title | handleize -%}

        <li class="mobile-nav__item{% unless locksmith_622d_forloop__last %} border-bottom{% endunless %}">
          {% if linklists[child_list_handle].links != blank %}
            <button type="button" class="btn--link js-toggle-submenu mobile-nav__link" data-target="{{ child_list_handle }}" data-level="1">
              {{ link.title }}
              <div class="mobile-nav__icon">
                {% include 'icon-chevron-right' %}
                <span class="icon__fallback-text">{{ 'layout.navigation.expand' | t }}</span>
              </div>
            </button>
            <ul class="mobile-nav__dropdown" data-parent="{{ child_list_handle }}" data-level="2">
              <li class="mobile-nav__item border-bottom">
                <div class="mobile-nav__table">
                  <div class="mobile-nav__table-cell mobile-nav__return">
                    <button class="btn--link js-toggle-submenu mobile-nav__return-btn" type="button">
                      {% include 'icon-chevron-left' %}
                      <span class="icon__fallback-text">{{ 'layout.navigation.collapse' | t }}</span>
                    </button>
                  </div>
                  <a href="{{ link.url }}" class="mobile-nav__sublist-link mobile-nav__sublist-header">
                    {{ link.title }}
                  </a>
                </div>
              </li>
              {%- comment %}<locksmith:dd39>{% endcomment -%}
                {% assign locksmith_2ce7_forloop__size = 0 %}{% for childlink in linklists[child_list_handle].links %}{% include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: childlink %}{% if locksmith_transparent %}{% assign locksmith_2ce7_forloop__size = locksmith_2ce7_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_2ce7_forloop__index = nil %}
              {%- comment %}</locksmith:dd39>{% endcomment -%}
              {% for childlink in linklists[child_list_handle].links %}
                {%- comment %}<locksmith:f71b>{% endcomment -%}
                  {% include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: childlink %}{% if locksmith_transparent %}{% if locksmith_2ce7_forloop__index == nil %}{% assign locksmith_2ce7_forloop__index = 1 %}{% assign locksmith_2ce7_forloop__index0 = 0 %}{% else %}{% assign locksmith_2ce7_forloop__index = locksmith_2ce7_forloop__index | plus: 1 %}{% assign locksmith_2ce7_forloop__index0 = locksmith_2ce7_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_2ce7_forloop__index == 1 %}{% assign locksmith_2ce7_forloop__first = true %}{% else %}{% assign locksmith_2ce7_forloop__first = false %}{% endif %}{% if locksmith_2ce7_forloop__index == locksmith_2ce7_forloop__size %}{% assign locksmith_2ce7_forloop__last = true %}{% else %}{% assign locksmith_2ce7_forloop__last = false %}{% endif %}{% assign locksmith_2ce7_forloop__rindex = locksmith_2ce7_forloop__size | minus: locksmith_2ce7_forloop__index | minus: 1 %}{% assign locksmith_2ce7_forloop__rindex0 = locksmith_2ce7_forloop__size | minus: locksmith_2ce7_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif %}
                {%- comment %}</locksmith:f71b>{% endcomment -%}
                <li class="mobile-nav__item{% unless locksmith_2ce7_forloop__last %} border-bottom{% endunless %}">
                  <a href="{{ childlink.url }}" class="mobile-nav__sublist-link">
                    {{ childlink.title | escape }}
                  </a>
                </li>
              {% endfor %}

            </ul>
          {% else %}
            <a href="{{ link.url }}" class="mobile-nav__link">
              {{ link.title }}
            </a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </nav>
  
    <div class="mahfuz_mobile_menu_section">
      <div class="mobile-cart-icon">
          <a href="/cart">
            <img src="{{ 'cart.png' | asset_url }}" alt="cart-icon"/>
          </a>
        </div>
    <div class="menu-button">
      <span></span>
      <span></span>
      <span></span>
    </div>
    
    <div class="mahfuz_mobile_menu">
      <ul>
        <li><a href="/collections/All">SHOP</a></li>
        <!-- <li class="collection-designers-mb" data-title="Designers" style="text-transform: uppercase;">Designers</li>
          <ul class="ul-sidebar hide">
              {% for product_vendor in collections.all.all_vendors %}
              {%- comment %}<locksmith:9d27>{% endcomment -%}
                {% include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: product_vendor %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif %}
              {%- comment %}</locksmith:9d27>{% endcomment -%}
              <li>{{ product_vendor | link_to_vendor }}</li>
              {% endfor %}
          </ul> -->
        <li class="collection-designers-mb" style="text-transform: uppercase;"><a href="/pages/designers">Designers</a></li>
        <li>{% assign current_url = page.url %}
            {% include 'search-form' %}</li>
        <li><a href="/collections/lessons-vault" style="color: red">VAULT</a></li>
        <li>          {% if customer %}
            <a id="mobile_customer_login_link" href="/account">Account</a>
          {% else %}
           {{ 'Log in' | customer_login_link }}
          {% endif %}</li>
        <li class="mobile_currency">
         <div class="doubly-wrapper"></div>
        <!-- <script type="text/javascript">
          window.onload = function(){
            if(jQuery('.currency-switcher li.selected').attr("data-value") !== undefined) {
              var custom_currency = jQuery('.currency-switcher li.selected').text(); 
              jQuery('.currency-switcher li.selected').text(custom_currency);
            }
              alert(custom_currency);
          };
        </script> -->
        </li>
      </ul>
    </div>
         <div class="mahafuz_mobile_logo {{ logo_classes }}">
        {% comment %}
          Use the uploaded logo from theme settings if enabled.
          Site name gets precedence with H1 tag on homepage, div on other pages.
        {% endcomment %}
        {% if template == 'index' %}
          <h1 class="h2 site-header__logo" itemscope itemtype="http://schema.org/Organization">
        {% else %}
          <div class="h2 site-header__logo" itemscope itemtype="http://schema.org/Organization">
        {% endif %}
          {% if section.settings.logo %}
            <a href="/" itemprop="url" class="site-header__logo-image{% if section.settings.align_logo == 'center' %} site-header__logo-image--centered{% endif %}">
              {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
              <img src="{{ section.settings.logo | img_url: image_size }}"
                   srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                   alt="{{ section.settings.logo.alt | default: shop.name }}"
                   itemprop="logo">
            </a>
          {% else %}
            <a class="site-header__logo-link" href="/" itemprop="url">{{ shop.name }}</a>
          {% endif %}
        {% if template == 'index' %}
          </h1>
        {% else %}
          </div>
        {% endif %}
      </div>
    
  </div>

  {% if section.settings.message %}
    <div class="notification-bar">
      {% if section.settings.message %}
        {% if section.settings.message_link != blank %}
          <a href="{{ section.settings.message_link }}" class="notification-bar__message">
            <p>{{ section.settings.message_text | escape }}</p>
          </a>
        {% else %}
          <p class="notification-bar__message">{{ section.settings.message_text | escape }}</p>
        {% endif %}
      {% endif %}
    </div>
  {% endif %}

  <header class="site-header{% if section.settings.align_logo == 'left' %} border-bottom logo--left{% else %} logo--center{% endif %}" role="banner">
    <div class="grid grid--no-gutters grid--table">
      {% if section.settings.align_logo == 'center' %}
        <div class="grid__item small--hide medium-up--one-quarter h-nav-l">
          <a href="/collections/All">SHOP</a>
          
          <span>
            <li class="collection-designers-page" style="display: inline-block;margin-right: -3px;text-transform: uppercase;"><a href="{{ link.url }}/pages/designers">Designers</a></li>
              <!-- <li class="collection-designers" data-title="Designers" style="display: inline-block;margin-right: 10px;text-transform: uppercase;">Designers</li>
              <ul class="ul-sidebar hide">
                  {% for product_vendor in collections.all.all_vendors %}
                  {%- comment %}<locksmith:9d27>{% endcomment -%}
                    {% include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: product_vendor %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif %}
                  {%- comment %}</locksmith:9d27>{% endcomment -%}
                  <li>{{ product_vendor | link_to_vendor }}</li>
                  {% endfor %}
              </ul> -->

          </span>

          <!-- <span class="media-header">
            <span class="select-media">MEDIA<span class="media-arrow"></span></span>
            <ul class="list-media hide" style="">
              <li class="option " data-name="IMAGERY"><a href="{{ pages.image-gallery.url }}">IMAGERY</a></li>
              <li class="option " data-name="VIDEO"><a href="{{ pages.video.url }}">VIDEO</a></li>
            </ul>
          </span> -->
          {% assign current_url = page.url %}
            {% include 'search-form' %}
        </div>
      {% endif %}
          
      {% if section.settings.align_logo == 'left' %}
        <nav class="grid__item medium-up--one-half small--hide" id="AccessibleNav" role="navigation">
          {% include 'site-nav' %}
        </nav>
      {% endif %}
      
      

      {% if section.settings.align_logo == 'center' %}
        {%- assign logo_classes = 'medium--one-third large-up--one-quarter logo-align--center logo-w' -%}
      {% else %}
        {%- assign logo_classes = 'medium-up--one-quarter logo-align--left' -%}
      {% endif %}

     <div class="grid__item small--one-half {{ logo_classes }}">
        {% comment %}
          Use the uploaded logo from theme settings if enabled.
          Site name gets precedence with H1 tag on homepage, div on other pages.
        {% endcomment %}
        {% if template == 'index' %}
          <h1 class="h2 site-header__logo" itemscope itemtype="http://schema.org/Organization">
        {% else %}
          <div class="h2 site-header__logo" itemscope itemtype="http://schema.org/Organization">
        {% endif %}
          {% if section.settings.logo %}
            <a href="/" itemprop="url" class="site-header__logo-image{% if section.settings.align_logo == 'center' %} site-header__logo-image--centered{% endif %}">
              {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
              <img src="{{ section.settings.logo | img_url: image_size }}"
                   srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                   alt="{{ section.settings.logo.alt | default: shop.name }}"
                   itemprop="logo">
            </a>
          {% else %}
            <a class="site-header__logo-link" href="/" itemprop="url">{{ shop.name }}</a>
          {% endif %}
        {% if template == 'index' %}
          </h1>
        {% else %}
          </div>
        {% endif %}
      </div>
       
      <div class="grid__item small--one-half medium-up--one-quarter site-header__icons h-nav-r">
        <div class="right_side_links">
        <div class="doubly-wrapper"></div> 
        <!-- <script type="text/javascript">
          window.onload = function(){
            if(jQuery('.currency-switcher li.selected').attr("data-value") !== undefined) {
              var custom_currency = jQuery('.currency-switcher li.selected').text(); 
              jQuery('.currency-switcher li.selected').text(custom_currency);
            }
              alert(custom_currency);
          };
        </script> -->
        <div class="header-right">
          {% if customer %}

            <a id="customer_login_link" href="/account">Account</a>
          {% else %}
           {{ 'Log in' | customer_login_link }}
          {% endif %}
            <a href="/collections/lessons-vault" id="vault_moblie" style="color: red;padding-top: 16px;margin-right: 33px;">VAULT</a>
            
          {% if section.settings.align_logo == 'left' %}
            <div class="site-header__search small--hide">
              {% include 'search-form' %}
            </div>
          {% endif %}
          <button type="button" class="btn--link site-header__search-toggle js-drawer-open-top medium-up--hide">
            {% include 'icon-search' %}
            <span class="icon__fallback-text">{{ 'layout.navigation.search' | t }}</span>
          </button>
          <a href="/cart" class="site-header__cart">
           SHOPPING BAG ({{ cart.item_count }})<!--{% include 'icon-cart' %} -->
            <span class="visually-hidden">{{ 'layout.cart.title' | t }}</span>
            <span class="icon__fallback-text">{{ 'layout.cart.title' | t }}</span>
            <!-- {% if cart.item_count <= 0 %} -->
              <!-- <div id="CartCount" class="site-header__cart-count"> -->
                <!-- <span>(0)</span> -->
                <!-- <span class="icon__fallback-text medium-up--hide">{{ 'layout.cart.items_count' | t: count: cart.item_count }}</span> -->
              <!-- </div> -->
            <!-- {% endif %} -->
          </a>
          <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
            {% include 'icon-hamburger' %}
            {% include 'icon-close' %}
            <span class="icon__fallback-text">{{ 'layout.navigation.toggle' | t }}</span>
          </button>
        </div>
        </div>
        </div>

      </div>
    </div>
  </header>
<!--
  {% if section.settings.align_logo == 'center' %}
  <nav class="small--hide border-bottom" id="AccessibleNav" role="navigation">
    {% include 'site-nav', nav_alignment: 'site-nav--centered' %}
  </nav>
  {% endif %}  -->
  <style>
    {% if section.settings.logo != blank %}
      .site-header__logo-image {
        max-width: {{ section.settings.logo_max_width }}px;
      }
    {% endif %}

    {% if section.settings.align_logo == 'left' %}
      .site-header__logo-image {
        margin: 0;
      }
    {% endif %}
  </style>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.list-media').addClass('hide');
      $('.media-arrow').removeClass('media-arrow-up');
      $('.media-arrow').addClass('media-arrow-down');
      $('.select-media, .media-arrow').click(function(){
        if($('.list-media').hasClass('hide')){
          $('.list-media').removeClass('hide');
          $('.media-arrow').removeClass('media-arrow-down');
          $('.media-arrow').addClass('media-arrow-up');
        } else {
          $('.list-media').addClass('hide');
          $('.media-arrow').removeClass('media-arrow-up');
          $('.media-arrow').addClass('media-arrow-down');
        }
      });

      $('.list-media li.option').click(function(){
        var dataname = $(this).attr('data-name');
        $('.select-media').text(dataname);
      });

    });
  </script>
</div>
{% if cart.item_count > 0 %}
<div id="CartAddNotification" style="display: block;">
  {%- assign i=0 -%}
  {%- assign sum_price=0 -%}
  {% for item in cart.items %}
    {% if i < 2 %}
    <div class="open-product">
        <div class="open-product-inner clearfix" data-product-id="{{ item.product_id }}">
            <img src="{{ item.image.src | product_img_url: 'master' }}" alt="{{ item.image.alt | escape }}" alt="" />
            <div class="product-info">
                <span class="product-title">{{ item.title }}</span><span class="product-quantity">{{ item.quantity }}</span> x <span class="money" data-currency="AUD">{{ item.price | money}}</span>
                {%- assign sum_price = sum_price | plus : item.price -%}
            </div>
        </div>
    </div>
    {% endif %}
    {%- assign i = i | plus: 1 %}
  {% endfor %}
    <p><span class="open-product-count">Total: {{ cart.item_count }} {{ cart.item_count | pluralize: 'Item', 'Items' }}/</span><b data-currency="AUD"> {{ cart.total_price | money }}</b></p>
    <div style="height: 60px; visibility: hidden;"></div>
    <a href="/cart" class="view_cart_button btn">CONTINUE TO CART</a>
</div>
{% else %}
<div id="CartAddNotification" style="display: block;">
    <div class="open-product">Your shopping cart is empty.</div>
    <span class="open-product-count"></span>
    <span class="open-product-cost"></span>

    <a href="/cart" class="view_cart_button btn">CONTINUE TO CART</a>
</div>
{% endif %}
<script>
    $(document).ready(function() {
        $("a.site-header__cart").hover(
            function() {
                $("#CartAddNotification").addClass("khoi-go-in");
                $("#CartAddNotification").removeClass("khoi-go-out");
            },
            function() {
                setTimeout(function() {
                    if (!$("#CartAddNotification").is(":hover")) {
                        $("#CartAddNotification").addClass("khoi-go-out");
                        $("#CartAddNotification").removeClass("khoi-go-in");
                    }
                }, 2000);
            }
        );

        $("#CartAddNotification").hover(
            function() {},
            function() {
                setTimeout(function() {
                    $("#CartAddNotification").addClass("khoi-go-out");
                    $("#CartAddNotification").removeClass("khoi-go-in");
                }, 1000);
            }
        );

        $(".menu-button").click(function() {
            if ($(".mahfuz_refine_sidebar").css("display") == "block") {
                $(".mahfuz_refine_sidebar").slideToggle("slow");
            }
        });

        $(".mahfuz_refine_btn").click(function() {
            if ($(".mahfuz_designer_sidebar").css("display") == "block") {
                $(".mahfuz_designer_sidebar").slideToggle("slow");
            }
        });

        $(".mahfuz_designer_btn").click(function() {
            if ($(".mahfuz_refine_sidebar").css("display") == "block") {
                $(".mahfuz_refine_sidebar").slideToggle("slow");
            }
        });
    });
    jQuery(document).ready(function() {
      jQuery( 'div.menu-button' ).click( function() {
          if( jQuery( 'div.mahfuz_mobile_menu' ).hasClass( 'mobile-nav-dropdown' ) )  {
              jQuery( 'div.mahfuz_mobile_menu' ).removeClass( 'mobile-nav-dropdown' );
          } else {
              jQuery( 'div.mahfuz_mobile_menu' ).addClass( 'mobile-nav-dropdown' );
          }
      } );

      if( jQuery( window ).width() <768 ) {
        var grid_info_element_list = document.querySelectorAll( '.gridinfo' );
        for( var i = 0; i < grid_info_element_list.length; i++ ) { 
          if( jQuery( grid_info_element_list[i] ).parent().parent().hasClass( 'product-price--sold-out' ) )
            jQuery( grid_info_element_list[i] ).parent().parent().parent().addClass( 'custom_sold_out' );
          jQuery(grid_info_element_list[i]).appendTo( jQuery(grid_info_element_list[i]).parent().parent().parent() );
        }

        jQuery( '.gridinfo' ).css( {  
          top: 'auto',
          height: 'auto',
          width:  jQuery( '.grid-view-item' ).width(),
          left: 'initial',
          display: 'block'
        } );  

        if( jQuery( window ).width() >480 ) {
          jQuery( '.grid-view-item' ).css( {
            height: '305px',
            overflow: 'hidden'
          } );
          jQuery( '.grid-view-item img.grid-view-item__image' ).css( {
            maxHeight: '305px',
            width: 'auto'
          } );
        } else {
          jQuery( '.grid-view-item' ).css( {
            height: '225px',
            overflow: 'hidden'
          } );
        }
      }

      if( jQuery( window ).width() < 1024 && jQuery( window ).width() > 768 || jQuery( window ).width() < 560 ) {
          jQuery( '#Collection .grid__item' ).addClass( 'mobile-grid-height' );
      }

      jQuery( window ).resize( function() {
          if( jQuery( window ).width() < 1024 && jQuery( window ).width() > 768 || jQuery( window ).width() < 560 ) {
              jQuery( '#Collection .grid__item' ).addClass( 'mobile-grid-height' );
          } else {
              jQuery( '#Collection .grid__item' ).removeClass( 'mobile-grid-height' );
          }
      } );
  });
</script>
{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "radio",
      "id": "align_logo",
      "label": "Logo alignment",
      "default": "left",
      "options": [
        {"value": "left", "label": "Left"},
        {"value": "center", "label": "Centered"}
      ]
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
    {
      "type": "text",
      "id": "logo_max_width",
      "label": "Custom logo width (in pixels)",
      "default": "100"
    },
    {
      "type": "link_list",
      "id": "main_linklist",
      "label": "Menu",
      "default": "main-menu"
    },
    {
      "type": "checkbox",
      "id": "message",
      "label": "Show announcement",
      "default": false
    },
    {
      "type": "text",
      "id": "message_text",
      "label": "Announcement text",
      "default": "Announce something here"
    },
    {
      "type": "url",
      "id": "message_link",
      "label": "Announcement link",
      "info": "Optional"
    },
    {
      "type": "color",
      "id": "color_bg",
      "label": "Announcement color",
      "default": "#7796A8"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": "Announcement text color",
      "default": "#fff"
    }
  ]
}
{% endschema %}
