<style type="text/css">
  .ul-sidebar
  {
    /*width: 300px;
    height: 200px;
    overflow: auto;
    opacity: 0.4;*/
  }
  .horizontal-only
  {
    height: auto;
    max-height: 200px;
  }
</style>
<div id="wrap" class="container-fluid">
    <div class="product-template__container page-width" itemscope itemtype="http://schema.org/Product" id="ProductSection-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true">
      <meta itemprop="name" content="{{ product.title }}">
      <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
      <meta itemprop="image" content="{{ product.featured_image.src | img_url: '800x' }}">

      {% comment %}
        Get first variant, or deep linked one
      {% endcomment %}
      {%- assign current_variant = product.selected_or_first_available_variant -%}
      {%- assign product_thumb_size = '160x160' -%}
      {%- assign product_image_zoom_size = '1024x1024' -%}
      {%- assign enable_zoom = section.settings.enable_zoom -%}

      {% case section.settings.image_size %}
        {% when 'small' %}
          {%- assign product_image_width = 'medium-up--one-third' -%}
          {%- assign product_description_width = 'medium-up--two-thirds' -%}
          {%- assign product_thumbnail_width = 'medium-up--one-third' -%}
          {%- assign product_image_size = '345x' -%}
        {% when 'medium' %}
          {%- assign product_image_width = 'medium-up--one-half' -%}
          {%- assign product_description_width = 'medium-up--one-half' -%}
          {%- assign product_thumbnail_width = 'medium-up--one-quarter' -%}
          {%- assign product_image_size = '530x' -%}
        {% when 'large' %}
          {%- assign product_image_width = 'medium-up--two-thirds' -%}
          {%- assign product_description_width = 'medium-up--one-third' -%}
          {%- assign product_thumbnail_width = 'medium-up--one-fifth' -%}
          {%- assign product_image_size = '720x' -%}
        {% when 'full' %}
          {%- assign product_image_width = '' -%}
          {%- assign product_description_width = '' -%}
          {%- assign product_thumbnail_width = 'medium-up--one-eighth' -%}
          {%- assign product_image_size = '1090x' -%}
          {%- assign enable_zoom = false -%}
      {% endcase %}

      <!-- ================================== -->
        <div class="product-images-zoom">
        <!-- garung -->
            {% for image in product.images %}
            <div class="product-images-zoom-wrapper">
                <div class="product-images-zoom-image-wrapper">
                    <div id="zoom_image_{{ image.id }}">
                        <!-- <img id="{{ image.id }}" src="{{ image.src | img_url: product_image_size }}" data-src="{{ image.src | img_url: product_image_size }}"/> -->
                        <img id="{{ image.id }}" src="{{ image.src | img_url: 'master' }}" data-src="{{ image.src | img_url: 'master' }}"/>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="browsing-page-root product-item men" data-view="ProductItem" id="product-item" itemscope itemtype="http://schema.org/Product" data-select_size_msg="Please select a size" data-sold_out_msg="Sorry, this size is sold out" data-gender="men" data-route-related-products="/en-us/related-products/1743773/217/888/men" data-route-size-chart="/en-us/product-size/1743773/217" data-max-num-items-msg="You have reached the maximum number of items that can be added to your shopping bag." data-sb-max-item="150">
        <div class="product-item-container row-fluid">
            <div class="span3 offset1 product-item-description tablet-landscape-full-fluid-width column_left">
                <ul class="collection custom-collection-template">
                  {% for link in linklists.sidebar-menu.links %}
                      {%- comment %}<locksmith:7927>{% endcomment -%}
                        {% include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: link %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif %}
                      {%- comment %}</locksmith:7927>{% endcomment -%}
                      <li class="li-lv1"><a href="{{ link.url }}">{{ link.title }}</a></li>
                  {%endfor%}
                  <!-- <li class="collection-designers" data-title="Designers">1111Designers +</li>
                      <ul class="ul-sidebar hide">
                          {% for product_vendor in collections.all.all_vendors %}
                          {%- comment %}<locksmith:f467>{% endcomment -%}
                            {% include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: product_vendor %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif %}
                          {%- comment %}</locksmith:f467>{% endcomment -%}
                          <li>{{ product_vendor | link_to_vendor }}</li>
                          {% endfor %}
                      </ul> -->

                      <li class="collection-filters" data-title="filters" style="margin-top: 15px;">Filters +</li>
                        <ul class="ul-sidebar-filters hide" style="margin-left: 0px;">

                            <li class="li_filter">
                                <input type="checkbox" class="checkbox-filters-Latest khiem" name="donation_checkbox_filters" id="filter-product-Latest" data-url-created="{{ collection.url }}" data-sort-created="?sort_by=created-descending" data-sx="created-descending">
                                <label for="filter-product-Latest" class="checkbox-filters-Latest price-designers" data-sort-by="?sort_by=created-descending">Latest arrivals</label>
                            </li>

                            <li class="li_filter">
                                <input type="checkbox" class="checkbox-filters-descending khiem" name="donation_checkbox_filters" id="filter-product-descending" data-url-descending="{{ collection.url }}" data-sort-descending="?sort_by=price-descending" data-sx="price-descending">
                                <label for="filter-product-descending" class="checkbox-filters-descending price-designers" data-sort-by="?sort_by=price-descending">PRICE: HIGH TO LOW</label>
                            </li>

                            <li class="li_filter">
                                <input type="checkbox" class="checkbox-filters khiem" name="donation_checkbox_filters" id="filter-product" data-url="{{ collection.url }}" data-sort="?sort_by=price-ascending" data-sx="price-ascending">
                                <label for="filter-product" class="checkbox-filters price-designers" data-sort-by="?sort_by=price-ascending">PRICE: LOW TO HIGH</label>
                            </li>



                            <li class="collection-designers-sidebar" data-title-sidebar="Designers">+ Designers</li>
                            <ul class="ul-sidebar hide" id="designers-dt">
                                {% assign count = 1 %}


                                {% for product_vendor in collections.all.all_vendors %}
                                {%- comment %}<locksmith:258b>{% endcomment -%}
                                  {% include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: product_vendor %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif %}
                                {%- comment %}</locksmith:258b>{% endcomment -%}
                                
                                <li class="designers-li">
                                    <input type="checkbox" class="vonder-url" id="designers-cb-{{ count }}" data-href="{{ collection.url }}/{{ product_vendor | handle }}">
                                    <label for="designers-cb-{{ count }}" data-designers-label="/{{ product_vendor | handle }}">{{ product_vendor }}</label>
                                </li>
                                {% assign count = count | plus: 1 %}
                                {% endfor %}


                            </ul>
                        </ul>
                  </li>
              </ul>
            </div>
            <script type="text/javascript">
                $(document).ready(function(){
                    // thêm filte
                    $('li.collection-filters').click(function() {
                        var title = $(this).attr('data-title');
                        var text = $(this).text();
                        var symbol = text.indexOf('+');
                        if (symbol !== -1) {
                            $(this).text(title + ' - ');
                        } else {
                            $(this).text(title + ' + ');
                        }
                        $(this).parent().find('.ul-sidebar-filters').toggleClass('hide');
                    });


                    $('.checkbox-filters').click(function() {
                    var class_designers = ($('.designers-li label.active-designers').attr('data-designers-label'));
                    var checkbox_url = $(this).attr('data-url');
                    var url = $(this).attr('data-sort');

                    if (class_designers) {
                        var tonghop = checkbox_url + class_designers + url;
                        $(location).attr('href',tonghop);
                    }else{
                        var tonghop = checkbox_url + url;
                        $(location).attr('href',tonghop);
                    }
                });    

                $('.checkbox-filters-descending').click(function() {
                    var class_designers2 = ($('.designers-li label.active-designers').attr('data-designers-label'));
                    var checkbox_url_descending = $(this).attr('data-url-descending');
                    var url_descending = $(this).attr('data-sort-descending');

                    if (class_designers2) {
                        var tonghop_descending = checkbox_url_descending + class_designers2 +url_descending;
                        $(location).attr('href',tonghop_descending);
                    }else{
                        var tonghop_descending = checkbox_url_descending + url_descending;
                        $(location).attr('href',tonghop_descending);
                    }
                });


                $('.checkbox-filters-Latest').click(function() {
                    var class_designers3 = ($('.designers-li label.active-designers').attr('data-designers-label'));
                    var checkbox_url_created = $(this).attr('data-url-created');
                    var url_created = $(this).attr('data-sort-created');

                    if (class_designers3) {
                        var tonghop_created = checkbox_url_created + class_designers3 + url_created;
                        $(location).attr('href',tonghop_created);
                    }else{
                        var tonghop_created = checkbox_url_created + url_created;
                        $(location).attr('href',tonghop_created);
                    }
                    
                });


                var getUrlParameter = function getUrlParameter(sParam) {
                    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                        sURLVariables = sPageURL.split('&'),
                        sParameterName,
                        i;

                    for (i = 0; i < sURLVariables.length; i++) {
                        sParameterName = sURLVariables[i].split('=');

                        if (sParameterName[0] === sParam) {
                            return sParameterName[1] === undefined ? true : sParameterName[1];
                        }
                    }
                };
                var tech = getUrlParameter('sort_by');
                $( ".li_filter" ).each(function() {
                    var data_xs = $(this).find('.khiem').attr('data-sx');
                    //console.log( data_xs + '__' + tech);
                    if(data_xs == tech) {
                        jQuery(".ul-sidebar-filters").removeClass('hide');
                        jQuery(this).find('label').addClass('active-c');
                    }
                });

                //console.log(tech);

                $('.designers-li').click(function(){

                    var data_ds = $(this).find('input').attr('data-href');
                    var data_sort_by1 = ($('.active-c').attr('data-sort-by'));

                    if ( typeof data_sort_by1 === "undefined") {
                        var connect = data_ds
                        
                        $(location).attr('href',connect);
                    }else{
                        var connect = data_ds + data_sort_by1;
                        
                        $(location).attr('href',connect);
                    }
                });


                $('.designers-li').each(function() {
                    var pathname = window.location.pathname;
                    var data_url_vendor = $(this).find('.vonder-url').attr('data-href');

                    if (pathname == data_url_vendor) {
                        jQuery(".ul-sidebar-filters .ul-sidebar").removeClass('hide');

                        jQuery(".custom-collection-template .ul-sidebar-filters").removeClass('hide');

                        jQuery(this).find('label').addClass('active-designers');
                    }
                });


                $('li.collection-designers-sidebar').click(function() {
                    var title = $(this).attr('data-title-sidebar');
                    var text = $(this).text();
                    var symbol = text.indexOf('+');
                    if (symbol !== -1) {
                        $(this).text(' - ' + title);
                    } else {
                        $(this).text(' + ' + title);
                    }
                    $(this).parent().find('.ul-sidebar').toggleClass('hide');
                });


            // js cho mobile
                $( ".filters-text-mb" ).each(function() {
                    var data_xs_mb = $(this).attr('data-sx-mb');
                    //console.log( data_xs_mb + '__' + tech);
                    if(data_xs_mb == tech) {
                        jQuery(this).addClass('active-mb');
                        //jQuery('.mahfuz_designer_sidebar').show();
                    }
                })


                $('.designers-md').click(function(){

                    var data_href_mb = $(this).attr('data-href');
                    var data_sort_by_md1 = ($('.active-mb').attr('data-sort-by_mb'));

                    if (typeof data_sort_by_md1 === "undefined") {
                        var connect2 = data_href_mb;

                        $(location).attr('href',connect2);
                    }else{
                        var connect2 = data_href_mb + data_sort_by_md1;

                        $(location).attr('href',connect2);
                    }
                    
                });

                $('.designers-md').each(function() {
                    var pathname2 = window.location.pathname;
                    var data_url_vendor2 = $(this).attr('data-href');

                    if (pathname2 == data_url_vendor2) {
                        jQuery(".mahfuz_designer_sidebar .ul-sidebar").removeClass('hide');
                        jQuery(this).addClass('active-designers');
                    }
                });

                $('li.collection-designers-mb').click(function() {
                    $(this).parent().find('.ul-sidebar').toggleClass('hide');
                });

                });
            </script>
            <div class="span8 product-item-images smartphone-portrait-narrow-full-fluid-width product-scroll column_center">
              <div class="column-wrapper">
                <div class="mobile-heading content">
<!--                   <h1 class="product-brand" itemprop="brand">
                    <a href="{{ link_to_vendor }}">{{ product.vendor }}</a>
                  </h1>  -->
                  <h2 class="product-name" itemprop="name">{{ product.title }}</h2>
                  <h1 class="product-price display-block-smartphone-landscape">
                    <span class="price"><!-- {{ current_variant.price | money }} -->
                      {% if current_variant.available == false %}
                        {{ "SOLD OUT" }}
                      {% else %}
                        {{ current_variant.price | money }}
                      {% endif %}
                      
                    </span>
                  </h1>
                </div>
                <div>
                  <div class="content vspace1">
                    <div class="product-images-container owl-carousel owl-theme" id="owl-image-product">
                    <!-- garung -->
                    {% for image in product.images %}
                        <div class="image-wrapper owl_img" stt="{{ image.id }}">
                            <div class="">
                                <a href="#zoom_image_{{ image.id }}">
                                    <img data-src="{{ image.src | img_url: 'master' }}" src="{{ image.src | img_url: 'master' }}" id="{{ image.id }}" alt="YEEZY Season 3 - Orange Heavy Knit T-Shirt">
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="span3 product-item-cta smartphone-portrait-narrow-full-fluid-width column_right">
                <div class="fixed-wrapper">
                    <div class="column-wrapper">
                      <div class="product-description-container" data-product-sku="162850M213002" data-product-id="1743773" data-product-name="Orange Heavy Knit T-Shirt" data-product-brand="YEEZY Season 3" data-product-category="T-Shirts" data-product-category-id="217" data-product-price="195.00" data-product-sku="162850M213002" data-product-designer-id="888">
                        <div class="content">
                          <h1 class="product-brand" itemprop="brand">
                            <a href="{{shop.url}}/collections/all/{{ product.vendor  | handle }}">{{ product.vendor }}</a>
                          </h1>
                          <h2 class="product-name hide-in-mobile" itemprop="name">{{ product.title }}</h2>
                          <h1 class="product-price display-block-smartphone-landscape hide-in-mobile">
                            <span class="price hide-in-mobile">{{ current_variant.price | money }}</span>
                          </h1>
                          <!-- <div class="vspace1 view-description-handler hidden-smartphone-landscape display-block-tablet-landscape hide-in-mobile">
                            <span class="toggle-details view">View details</span>
                            <span class="toggle-details close">Hide details</span>
                          </div> -->
                          <div class="description hidden-tablet-landscape show-in-mobile">
                            <div class="vspace1 display-block-tablet-landscape"></div>
                            <p class="product-description-text vspace1" itemprop="description"> 
                              {{ product.description }}
                            </p>
                          </div>
                        </div>
                      </div>
                    <!-- </div>
                    <div class="column-wrapper"> -->
                        <!-- <div id="product-collection">
                            {%- comment %}<locksmith:c4e5>{% endcomment -%}
                              {% assign locksmith_1323_forloop__size = 0 %}{% for collection in product.collections %}{% include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: collection %}{% if locksmith_transparent %}{% assign locksmith_1323_forloop__size = locksmith_1323_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_1323_forloop__index = nil %}
                            {%- comment %}</locksmith:c4e5>{% endcomment -%}
                            {% for collection in product.collections %}
                                {%- comment %}<locksmith:6c62>{% endcomment -%}
                                  {% include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: collection %}{% if locksmith_transparent %}{% if locksmith_1323_forloop__index == nil %}{% assign locksmith_1323_forloop__index = 1 %}{% assign locksmith_1323_forloop__index0 = 0 %}{% else %}{% assign locksmith_1323_forloop__index = locksmith_1323_forloop__index | plus: 1 %}{% assign locksmith_1323_forloop__index0 = locksmith_1323_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_1323_forloop__index == 1 %}{% assign locksmith_1323_forloop__first = true %}{% else %}{% assign locksmith_1323_forloop__first = false %}{% endif %}{% if locksmith_1323_forloop__index == locksmith_1323_forloop__size %}{% assign locksmith_1323_forloop__last = true %}{% else %}{% assign locksmith_1323_forloop__last = false %}{% endif %}{% assign locksmith_1323_forloop__rindex = locksmith_1323_forloop__size | minus: locksmith_1323_forloop__index | minus: 1 %}{% assign locksmith_1323_forloop__rindex0 = locksmith_1323_forloop__size | minus: locksmith_1323_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif %}
                                {%- comment %}</locksmith:6c62>{% endcomment -%}
                                {% if locksmith_1323_forloop__last == true %}
                                     <a href="{{collection.url}}">&#x3C; {{ collection.title }}</a> 
                                {% endif %}
                            {% endfor %}
                        </div> -->
                        <div class="info-product-bottom">
                            <div class="content">
                                <!-- <div class="view-product-details-smartphone-container display-block-smartphone-portrait">
                                    <a class="view-product-details-smartphone" href="#">View Details</a>
                                    <p class="product-details-smartphone"></p>
                                </div> -->                              
                              <form action="/cart/add" type="post" id="addBagForm" class="product-form product-form-{{ section.id }}{% unless section.settings.show_variant_labels %} product-form--hide-variant-labels{% endunless %}" data-section="{{ section.id }}" enctype="multipart/form-data">
                                <div class="row-fluid">
                                  <div class="span16 hidden-smartphone-landscape" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                    <h3>
                                      <span class="price"><!-- {{ current_variant.price | money }} -->
                                        
                                        {% if current_variant.available == false %}
                                          {{ "SOLD OUT" }}
                                        {% else %}
                                          {{ current_variant.price | money }}
                                        {% endif %}
                                      </span>

                                      <!-- {{ current_variant.available | json }} -->
                                    </h3>
                                  </div>
                                  <!-- <script type="text/javascript">
                                    window.onload = function(){
                                       setTimeout(function(){ custom_currency(); }, 500);
                                    };
                                  </script> -->
                                  <div class="span16 promotions-container">
                                  <div class="vspace2 display-block-smartphone-portrait"></div>
                                    <p class="sale-free-ship-banner sale-free-ship-international" id="customer-location"></p>
                                    <div class="vspace1 display-block-smartphone-portrait"></div>
                                  </div>
                                  <div class="span16">
                                    <select id="size" name="id" class="vspace2" required>
                                      <option selected disabled value="">SIZE</option>
                                      {% for variant in product.variants %}
                                      <option value="{{ variant.id }}" check="{{variant.available}}">
                                      {% if variant.available == false %}
                                          {{ variant.title }} [SOLD OUT]
                                      {% else %}
                                          {{ variant.title }}
                                      {% endif %}
                                      </option>
                                      {% endfor %}
                                    </select>
                                  </div>
                                  <div class="span16 vspace1">
                                    <button type="submit" id="AddToCart-{{ section.id }}" data-add-one-more="Add One More" class="btn-add-to-bag button button-primary full-width check-addtocart" onclick="if (typeof fbq !== 'undefined') { fbq('track', 'AddToCart', { content_type: 'product_group', content_ids: ['162850M213002'] }); }"><span id="AddToCartText-{{ section.id }}">{{ 'products.product.add_to_cart' | t }}</span></button>


                                    <button type="button" id="AddToCart-soldout" class="btn-add-to-bag button button-primary full-width">{{ 'products.product.sold_out' | t }}</span></button>


                                    <div class="product-added vspace1" style="display:none">This item has been added to your bag.</div>
                                  </div>
                                  <div class="span16 vspace1 btn-checkout">
                                    <a href="https://www.ssense.com/en-us/shopping-bag" class="button full-width" style="display:none">Checkout</a>
                                  </div>
                                </div>
                              </form>
                            </div>
                            <script type="text/javascript">
                              $(document).ready(function(){
                                  $('#AddToCart-soldout').hide();
                                  $('#size').change(function(){
                                      var checksoldout = $(this).find('option:selected').attr('check');
                                      if (checksoldout == 'true') {
                                        $('.check-addtocart').show();
                                        $('#AddToCart-soldout').hide();
                                      } else {
                                        $('.check-addtocart').hide();
                                        $('#AddToCart-soldout').show();
                                      }
                                  });
                              });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span16 text-center vspace3 display-block-smartphone-landscape">
              <ul class="social vspace1" data-view="ProductShare">
                <li>
                  <a class="share-buttons" target="_blank" href="#" data-href="http://www.facebook.com/sharer.php?&p[url]=http://www.ssense.com/en-us/men/product/yeezy-season-3/orange-heavy-knit-t-shirt/1743773&p[title]=YEEZY Season 3 Orange Heavy Knit T-Shirt}&p[summary]=Short sleeve garment-dyed 'heavy' cotton jersey t-shirt in 'warning' orange. Rib knit crewneck collar. Dropped shoulders. Tonal stitching. This item has gone through a unique dyeing process. Please note that coloration may vary." data-mobile-href="http://m.facebook.com/sharer.php?u=http://www.ssense.com/en-us/men/product/yeezy-season-3/orange-heavy-knit-t-shirt/1743773" class="i facebook"><i class="fa fa-facebook fa-fw"></i></a></li>
                <li>
                  <a class="share-buttons" target="_blank" href="#" data-href="https://twitter.com/intent/tweet?text=Look at @ssense YEEZY Season 3 http://www.ssense.com/en-us/men/product/yeezy-season-3/orange-heavy-knit-t-shirt/1743773 - Orange Heavy Knit T-Shirt" class="i twitter"><i class="fa fa-twitter fa-fw"></i></a></li>
                <li>
                  <a class="share-buttons" target="_blank" href="#" data-href="http://www.pinterest.com/pin/create/button/?url=http://www.ssense.com/en-us/men/product/yeezy-season-3/orange-heavy-knit-t-shirt/1743773&media=https://res.cloudinary.com/ssenseweb/image/upload/b_white/v564/162850M213002_1.jpg&description=YEEZY Season 3 - Orange Heavy Knit T-Shirt" class="i pinterest"><i class="fa fa-pinterest fa-fw"></i></a></li>
              </ul>
            </div>
        </div>
        <div class="vspace2 related-section-container relative">
            <div class="row-fluid related-product-container tab-container">
                
            </div>
        </div>
    </div>
</div>
<!-- <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script> -->
<script type="text/javascript">
    $(".product-images-zoom").css('display', 'none');
    $(document).ready(function(){
     
        scrollImageProduct();
        $(".image-wrapper").click(function(){
            $(".product-images-zoom").css('display', 'block');
            $("#PageContainer").css({'position': 'absolute', 'top' : '0', 'width':'100%'});
        });
        $(".product-images-zoom-wrapper").click(function(){
            $(".product-images-zoom").css('display', 'none');
            $("#PageContainer").css({'position': 'unset', 'top' : 'unset'});
        });
        $.ajax( {
          url: '//freegeoip.net/json/',
          type: 'POST',
          dataType: 'jsonp',
          success: function(location) {
            console.log(location);
            if(location.country_code == 'AU') {
              jQuery('#customer-location').text("Free Express Shipping Australia Wide");
            } else {
              jQuery('#customer-location').text("Free Express Shipping Australia Wide");
            }
          }
        } );
      $("#owl-image-product").find('.image-wrapper img').on('load', function() { 
        // $("#owl-image-product").find('image-wrapper img').each(function(){
            scrollImageProduct();
          // });
      }).each(function(){
        scrollImageProduct();
      });
    });
    function scrollImageProduct() {
      var relatedSection = $('.related-section-container').offset();
        // var productDescriptionHeight = $('.product-description-container').height();
        var fixedWrapper = $('.product-item-description .fixed-wrapper');
        var fixedSidebar = $('.product-item-container .column_left');
        var windowWidth = $(window).width();
        var widthFixedWrapper = fixedWrapper.width();
        var heightFixedWrapper = fixedWrapper.height();
        var offset = fixedWrapper.offset();
        if(windowWidth > 480) {
          fixedWrapper.css({
            position: 'fixed',
            width: widthFixedWrapper,
            // left: offset.left,
            top: 290,
            right: '45px',
          });
          fixedSidebar.css({
            position: 'fixed',
          });
        }
        //===================================
        var fixedRightWrapper = $('.product-item-cta .fixed-wrapper');
        var offsetRight = fixedRightWrapper.offset();
        var widthFixedRightWrapper = fixedRightWrapper.width();
        var heightFixedRightWrapper = fixedRightWrapper.height();
        if(windowWidth > 480) {
          fixedRightWrapper.css({
            position: 'fixed',
            width: widthFixedRightWrapper,
            // right: offsetRight.right,
            top: 290,
            right: '45px',
          });
          fixedSidebar.css({
            position: 'fixed',
          });

          $(window).scroll(function() {
              var height = $(window).scrollTop();
              var windowHeight = $(window).height();
              var documentHeight = $(".product-scroll").height();
              if (height >= relatedSection.top - windowHeight) {
                  //==================== khong can dung =================
                  // fixedWrapper.css({
                  //   position: 'absolute',
                  //   top: relatedSection.top - heightFixedWrapper - 290,
                  // });
                  // fixedRightWrapper.css({
                  //   position: 'absolute',
                  //   top: relatedSection.top - heightFixedRightWrapper - 290,
                  // });
                  // fixedSidebar.css({
                  //   position: 'absolute',
                  // });
              } else {
                  fixedWrapper.css({
                    position: 'fixed',
                    width: widthFixedWrapper,
                    // left: offset.left,
                    top: 290,
                    right: '45px',
                  });
                  fixedRightWrapper.css({
                    position: 'fixed',
                    width: widthFixedRightWrapper,
                    // right: offsetRight.right,
                    top: 290,
                    right: '45px',
                  });
                  fixedSidebar.css({
                    position: 'fixed',
                  });
              }
          });
        }
    }

</script>
  <!-- ==================================== -->
<!-- {% if collection %} -->
<!--   <div class="text-center return-link-wrapper btn_styledwith ">
   <a href="{{shop.url}}/collections/All-men" class="custom-button btn--secondary btn--has-icon-before return-link">
      VIEW ALL {{ 'Styled With' }}
    </a>
  </div>
  <div class="text-center return-link-wrapper btn_brand ">
   <a href="{{shop.url}}/collections/vendors?q={{ product.vendor | replace: ' ', '-' }}" class="custom-button btn--secondary btn--has-icon-before return-link">
      VIEW ALL {{ product.vendor }}
    </a>
  </div>
  <div class="text-center return-link-wrapper btn_category">
   <a href="{{shop.url}}/collections/types?q={{product.type | replace: ' ', '-'}}" class="custom-button btn--secondary btn--has-icon-before return-link">
      VIEW ALL {{ product.type }}
    </a>
  </div> -->
<!-- {% endif %} -->

{% unless product.empty? %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
  <script type="text/javascript">
    $('.btn_category').addClass('hide');
    $('.btn_brand').addClass('hide');
  </script>
{% endunless %}

{% schema %}
{
  "name": "Product pages",
  "settings": [
    {
      "type": "select",
      "id": "image_size",
      "label": "Image size",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        },
        {
          "value": "full",
          "label": "Full-width"
        }
      ],
      "default": "medium"
    },
    {
      "type": "checkbox",
      "id": "show_quantity_selector",
      "label": "Show quantity selector",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_variant_labels",
      "label": "Show variant labels",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_zoom",
      "label": "Enable image zoom",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": "Show social sharing buttons",
      "default": true
    }
  ]
}
{% endschema %}
  
  <style>.zoomify{cursor:pointer;cursor:-webkit-zoom-in;cursor:zoom-in}.zoomify.zoomed{cursor:-webkit-zoom-out;cursor:zoom-out;padding:0;margin:0;border:none;border-radius:0;box-shadow:none;position:relative;z-index:1501}.zoomify-shadow{position:fixed;top:0;left:0;right:0;bottom:0;width:100%;height:100%;display:block;z-index:1500;background:rgba(0,0,0 ,.3);opacity:0}.zoomify-shadow.zoomed{opacity:1;cursor:pointer;cursor:-webkit-zoom-out;cursor:zoom-out}
    </style>
  
  <script>/*! Zoomify - v0.2.4 - https://github.com/indrimuska/zoomify - (c) 2015 Indri Muska - MIT */
!function(a){Zoomify=function(b,c){var d=this;this._zooming=!1,this._zoomed=!1,this._timeout=null,this.$shadow=null,this.$image=a(b).addClass("zoomify"),this.options=a.extend({},Zoomify.DEFAULTS,this.$image.data(),c),this.$image.on("click",function(){d.zoom()}),a(window).on("resize",function(){d.reposition()}),a(document).on("scroll",function(){d.reposition()})},Zoomify.DEFAULTS={duration:200,easing:"linear",scale:.9},Zoomify.prototype.transition=function(a,b){a.css({"-webkit-transition":b,"-moz-transition":b,"-ms-transition":b,"-o-transition":b,transition:b})},Zoomify.prototype.addTransition=function(a){this.transition(a,"all "+this.options.duration+"ms "+this.options.easing)},Zoomify.prototype.removeTransition=function(b,c){var d=this;clearTimeout(this._timeout),this._timeout=setTimeout(function(){d.transition(b,""),a.isFunction(c)&&c.call(d)},this.options.duration)},Zoomify.prototype.transform=function(a){this.$image.css({"-webkit-transform":a,"-moz-transform":a,"-ms-transform":a,"-o-transform":a,transform:a})},Zoomify.prototype.transformScaleAndTranslate=function(a,b,c,d){this.addTransition(this.$image),this.transform("scale("+a+") translate("+b+"px, "+c+"px)"),this.removeTransition(this.$image,d)},Zoomify.prototype.zoom=function(){this._zooming||(this._zoomed?this.zoomOut():this.zoomIn())},Zoomify.prototype.zoomIn=function(){var b=this,c=this.$image.css("transform");this.transition(this.$image,"none"),this.transform("none");var d=this.$image.offset(),e=this.$image.outerWidth(),f=this.$image.outerHeight(),g=this.$image[0].naturalWidth||+(1/0),h=this.$image[0].naturalHeight||+(1/0),i=a(window).width(),j=a(window).height(),k=Math.min(g,i*this.options.scale)/e,l=Math.min(h,j*this.options.scale)/f,m=Math.min(k,l),n=(-d.left+(i-e)/2)/m,o=(-d.top+(j-f)/2+a(document).scrollTop())/m;this.transform(c),this._zooming=!0,this.$image.addClass("zoomed").trigger("zoom-in.zoomify"),setTimeout(function(){b.addShadow(),b.transformScaleAndTranslate(m,n,o,function(){b._zooming=!1,b.$image.trigger("zoom-in-complete.zoomify")}),b._zoomed=!0})},Zoomify.prototype.zoomOut=function(){var a=this;this._zooming=!0,this.$image.trigger("zoom-out.zoomify"),this.transformScaleAndTranslate(1,0,0,function(){a._zooming=!1,a.$image.removeClass("zoomed").trigger("zoom-out-complete.zoomify")}),this.removeShadow(),this._zoomed=!1},Zoomify.prototype.reposition=function(){this._zoomed&&(this.transition(this.$image,"none"),this.zoomIn())},Zoomify.prototype.addShadow=function(){var b=this;this._zoomed||(b.$shadow&&b.$shadow.remove(),this.$shadow=a('<div class="zoomify-shadow"></div>'),a("body").append(this.$shadow),this.addTransition(this.$shadow),this.$shadow.on("click",function(){b.zoomOut()}),setTimeout(function(){b.$shadow.addClass("zoomed")},10))},Zoomify.prototype.removeShadow=function(){var a=this;this.$shadow&&(this.addTransition(this.$shadow),this.$shadow.removeClass("zoomed"),this.$image.one("zoom-out-complete.zoomify",function(){a.$shadow&&a.$shadow.remove(),a.$shadow=null}))},a.fn.zoomify=function(b){return this.each(function(){var c=a(this),d=c.data("zoomify");d||c.data("zoomify",d=new Zoomify(this,"object"==typeof b&&b)),"string"==typeof b&&["zoom","zoomIn","zoomOut","reposition"].indexOf(b)>=0&&d[b]()})}}(jQuery);
    </script>
  <script>
   $('#myImage').zoomify('zoomIn');
    $(document).ready(function(){
      function khoi_init_slider() {
          if( jQuery( window ).width() <= 500 ) {
            $( '#owl-image-product' ).owlCarousel({
              autoHeight : true
            }); 
            jQuery( '#owl-image-product' ).css( 'width', get_image_slide_width() );
          }
      }
      function get_image_slide_width() {
        return jQuery( window ).width() / 100 * 80;
      }

      khoi_init_slider();
    });
    </script>
    <script type="text/javascript">
      $(document).ready(function()
      {
        // setTimeout( function() {
        //     $('.ul-sidebar').jScrollPane({
        //       showArrows: true,
        //       horizontalGutter: 10
        //   });
        // }, 1000 );
      });
    </script>
