.index-section {
    padding: 0;
}

.scrool-bottom {
    position: absolute;
    top: 230px;
    left: 7px;
    background: transparent;
    width: 52px;
    height: 52px;
    padding: 5px;
    cursor: pointer;
    transition: all 0.5s;
    img {
        width: 42px;
        height: 42px;
    }
}

.hide {
    display: none;
}

.grid__item {
    margin-bottom: 30px;
    position: relative;
}

.grid__item h3 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 13px;
    color: #FFF;
    z-index: 1;
    display: none;
    width: calc(100% - 30px);
}

.grid__item:hover h3 {
    display: block;
}

.collection-grid-item {
    margin: 0;
}

.grid-item-l.grid-item-r {
    text-align: left;
}


/**
 * Footer
 */

.site-footer .grid-item-l .text-right {
    display: inline-block;
    float: right;
}

.site-footer .grid-item-l .text-right .footer-link {
    margin-right: 20px;
}

.site-footer__social-icons,
.site-footer__copyright {
    margin-top: 0;
}

.site-footer__copyright .grid__item {
    display: none;
}


/**
 * Collection page
 */

.page-width {
    padding-left: 0;
}

.page-width .full-page .collection-designers {
    width: 250px;
    /*position: absolute;*/
    cursor: pointer;
    text-transform: uppercase;
}

.page-width .full-page .ul-sidebar {
    /*top: 24px;
    left: 15px;*/
}

.grid-view-item {
    height: 260px;
}

.grid-view-item__link {
    position: relative;
    opacity: 1!important;
}

.grid-view-item__link:hover .gridproimg {
    opacity: 0.3;
}

.grid-view-item__link:hover .gridinfo {
    display: block;
    /*text-align: center;
    margin: auto 15%;
    display: table;
    vertical-align: middle;*/
}

.grid-view-item__vendor {
    color: #3d4246;
}

.grid--uniform .medium-up--one-quarter:nth-child(4n+1) {
    clear: initial;
}

.gridinfo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 120px;
    text-align: center;
    display: none;
}

.product-price__price {
    color: #000;
}

ul.collection {
    text-transform: uppercase;
    margin: 0;
    position: relative;
    float: left;
    max-width: 150px;
}

ul.collection li {
    height: 31px;
    line-height: 31px;
}


/**
 * PRODUCT
 */

.product-item-container .content .product-band {
    font-size: 11px;
}

.product-item-container .content .product-name {
    text-transform: capitalize;
}

.product-item-container .content .description p {
    color: #000;
}

#product-collection {
    font-size: 11px;
}

.product-item-images .column-wrapper .content .image-wrapper a:hover {
    opacity: 1;
}

.product-item-description .fixed-wrapper .column-wrapper,
.product-item-cta .fixed-wrapper .column-wrapper {
    position: static;
    width: 100%;
}


/**
 * screen 768
 */

@media (max-width: 767px) {
    .site-footer .grid-item-l .text-left {
        display: block;
        margin: 0;
    }
    .site-footer .grid-item-l .text-right {
        display: block;
        float: none;
        text-align: center!important;
        margin-top: 10px;
    }
    .site-footer .grid-item-l .text-right .site-footer__social-icons {
        margin: 0;
    }
    #search-page .grid__item .grid-view-item {
        height: 320px;
    }
}

@media (min-width: 768px) {
    .medium-up--one-quarter {
        width: 33.33%;
    }
    .page-width .grid__item {}
    .page-width .grid__item {
        margin-bottom: 45px !important;
    }
    #search-page.page-width .grid__item {
        margin-bottom: 100px !important;
    }
}

.collection-grid-item h4 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

#Collection .grid__item {
    height: 450px;
}

.shopify-section .search-header__input {
    /*padding-top: 10px;*/
    border: none;
}

.search-header {
    max-width: 100px;
}

.search-header form input,
.search-header .form input {
    margin-bottom: 3px !important;
}

form input,
form select,
.form input,
.form select {
    margin-bottom: 3px !important;
}

.remove-border:hover,
.site-header__logo a:hover {
    background-repeat: no-repeat !important;
}

.grid-view-item a {
    background-repeat: no-repeat !important;
}

.grid-view-item--sold-out .grid-view-item__image {
    opacity: 1;
}

.grid-view-item .grid-view-item__image {
    height: auto;
    max-height: 425px;
    opacity: 1;
    width: 259px;
}

#customer_login_link {
    padding: 16px 0;
    margin-right: 30px;
}

.search-header__input,
.search-bar__input {
    padding-left: 0px !important;
}

.search--focus .search-header__input.search__input {
    padding-left: 0px !important;
}

#custom-search-header input::-webkit-input-placeholder {
    color: #000;
    opacity: 1;
    padding-left: 5px;
}

#custom-search-header input:-moz-placeholder {
    /* Firefox 18- */
    color: #000;
    opacity: 1;
    padding-left: 5px;
}

#custom-search-header input::-moz-placeholder {
    /* Firefox 19+ */
    color: #000;
    opacity: 1;
    padding-left: 5px;
}

#custom-search-header input:-ms-input-placeholder {
    color: #000;
    opacity: 1;
    padding-left: 5px;
}

.doubly-wrapper {
    margin-right: 6px;
}

.search--focus .search-header__input.search__input {
    border-color: #787879;
    padding-left: 10px;
    border: none;
}

.currency-switcher .list .option,
.currency-switcher .notranslate {
    font-family: "HelveticaNeue", "Helvetica Neue", sans-serif;
    font-family: plain, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.currency-switcher .list .option,
.currency-switcher .notranslate {
    font-size: 11px !important;
    font-weight: 500;
}

#appView .powrModal .content {
    overflow: hidden;
}

#appView .powrModal .close {
    width: 100%;
    height: 100%;
    opacity: 0;
}

.powrMark.text-center {
    display: none;
}

.custom-collection-homepage {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 11;
    text-transform: uppercase
}

.site-footer__social-icons a {
    background-repeat: no-repeat;
}


/* Mahfuz CSS */

#page-image-template {
    margin-top: 0px !important;
}

.subgallery {
    margin-top: 5vh!important;
}

.shopify-section .search-header__input {
    text-transform: uppercase;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    margin-top: -2px;
}

input[type="search"] {
    margin-top: -3px!mportant;
}

.section-header h1 {
    margin-top: 80px;
    text-transform: uppercase!important;
    font-size: 11px;
    font-weight: 500;
}

.rte {
    text-align: justify;
    font-size: 10px;
    line-height: 20px;
    text-transform: uppercase;
}

.sticky {
    position: fixed !important;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
}

.header-right a:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

.site-header__cart:hover {}

span.current.notranslate {
    margin-top: 9px;
    display: inline-block;
}

.collection-grid-item__title-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(248, 248, 248, 0);
    opacity: 2.2;
}


/* .collection-grid-item a:hover {
  opacity: 1;
} */

#shopify-section-1476256079472 {
    margin-top: 15px;
}

#shopify-section-1476256079472 .collection-grid-item {
    padding-bottom: 74%;
}

.scrool-bottom {
    display: none;
}

.template-index .scrool-bottom {
    display: none;
}

.scrool-bottom {
    top: 36%;
}

#shopify-section-collection-template .collection-header {
    display: none;
}

#shopify-section-header {
    position: relative;
    /*top: 30px !important;*/
}

.template-index #shopify-section-header.shopify-section {
    top: 30px !important;
}

#shopify-section-header.shopify-section {
    z-index: 999;
    margin-top: 30px;
}

#shopify-section-collection-template {
    padding-top: 30px;
}

.site-header {
    background-color: inherit;
}

.page-width {
    padding-left: 0;
    padding-right: 0;
}

.site-header.logo--center {
    margin-top: -49px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 30px;
    position: fixed;
}

.template-index header.site-header.logo--center {
    padding-top: 0;
}

div#ProductSection-product-template {
    padding-top: 20px;
}


/* .full-page .grid.grid--uniform.grid--view-items {
  padding-left: 260px;
  padding-right: 110px;
} */

.page-width {
    margin: 0 auto;
    max-width: 96.6%;
}

.template-index .page-width {
    padding-left: 40px;
    padding-right: 40px;
}

.template-index footer.site-footer .grid-item-l.grid-item-r {
    padding-left: 65px;
    padding-right: 60px;
}

.social-icons__link svg {
    width: 13px;
}

#product-collection a {
    color: #737373;
    font-weight: 500;
    text-transform: uppercase;
}

.product-description-container {
    margin-top: 20vh;
}

.product-description-container .content > h1 a {
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
}

#CustomerLoginForm.form-vertical,
#create_customer {
    margin: auto;
    max-width: 60%;
    padding-top: 30px;
}

#CustomerLoginForm.form-vertical form h1.text-center {
    font-size: 11px;
    font-weight: 500;
    text-align: left !important;
    text-transform: uppercase;
}

#CustomerLoginForm.form-vertical form input,
#create_customer input {
    border: 1px solid #000;
    height: 35px;
    margin-bottom: 20px !important;
    text-transform: uppercase;
}

#CustomerLoginForm.form-vertical form input:focus,
#create_customer input:focus {
    border: 1px solid#000;
}

#CustomerLoginForm.form-vertical form label,
#create_customer label {
    text-transform: uppercase;
}

#CustomerLoginForm.form-vertical form input,
#create_customer input[type="submit"] {
    background: none;
    border: 1px solid;
    color: #000;
    font-size: 12px;
    margin-top: 1px;
    width: 100%;
    border-radius: 0;
}

#CustomerLoginForm.form-vertical form input[type="submit"],
#create_customer input[type="submit"] {
    background: #fff;
    color: #000;
}


/* #CustomerLoginForm.form-vertical form input[type="submit"]:hover, #create_customer input[type="submit"]:hover {
  background: #000 none repeat scroll 0 0;
  border: 1px solid;
  color: #fff;
  opacity: 1;
} */

.text-center a#RecoverPassword {
    float: left;
    text-transform: uppercase;
}

.form-vertical > form#create_customer h1 {
    font-size: 12px;
    text-transform: uppercase;
}

.text-center a#customer_register_link {
    text-transform: uppercase;
}

form#customer_login label,
form#create_customer label {
    display: none;
}

#customer_login #customer_register_link {
    background: #000 none repeat scroll 0 0;
    border: 1px solid;
    color: #fff;
    display: block;
    font-weight: 600;
    height: 35px;
    margin-bottom: 110px;
    padding: 9px;
    width: 100%;
}


/* Login Page */

.login_page_hide_reg {
    display: none;
}

.form-vertical.register_page_mb {
    margin-bottom: 100px;
    padding-top: 50px;
}

#CustomerLoginForm.form-vertical {
    padding-top: 80px;
}

#CustomerLoginForm.form-vertical form input {
    border: 1px solid#ccc;
    font-size: 10px;
}

#CustomerLoginForm.form-vertical #customer_login input.btn {
    font-size: 11px;
    font-weight: 600;
    font-family: plain, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#CustomerLoginForm.form-vertical #customer_login input.btn:hover {
    background: #000;
    color: #fff;
    opacity: 1;
}


/* Reg page */

.form-vertical.register_page_mb > form#create_customer input {
    border: 1px solid #ccc;
    font-size: 10px;
}

.form-vertical.register_page_mb > form#create_customer input:focus {
    border: 1px solid #000;
}

.form-vertical.register_page_mb > form#create_customer input[type="submit"] {
    font-size: 11px;
    font-weight: 600;
    font-family: plain, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-vertical.register_page_mb > form#create_customer input[type="submit"]:hover {
    background: #000;
    color: #fff;
    opacity: 1;
}

.form-vertical.register_page_mb > form#create_customer h1 {
    font-size: 11px;
    font-weight: 500;
}

.h4.grid-view-item__title,
.grid-view-item__vendor,
.delay-price.product-price__price {
    color: #000;
    font-family: plain, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
}

.h4.grid-view-item__title,
.grid-view-item__vendor,
.delay-price.product-price__price .grid-view-item__title {
    color: #606060 !important;
}

.list--inline.pagination li a:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

.product-description-container .content {
    top: -30vh;
}

#product-collection {
    margin-top: -100px;
}

a:hover {
    background: none;
}


/* Cart */

thead.cart__header {
    display: none;
}

.cart {
    transform: translate(50%, 0px);
    width: 50%;
}

.cart__row.border-bottom.line1.cart-flex.border-top {
    border: medium none;
}

.cart__meta.small--text-left.cart-flex-item {
    font-size: 10px;
    font-weight: 500;
    width: 25%;
    text-transform: uppercase;
}

.cart__row.border-bottom.line1.cart-flex.border-top td.text-right {
    text-align: left !important;
}

.cart__price-wrapper.cart-flex-item {
    display: none;
}

.small--hide a.cart__remove {
    border: medium none;
    color: #9ea6b1;
    font-size: 11px;
    font-weight: 500;
    padding: 0;
    font-family: plain, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.cart table tbody tr td {
    vertical-align: top;
}

.cart__qty-input {
    border: medium none;
    padding: 0;
    position: relative;
    top: -8px;
}


/* .cart__qty-input:hover {
  border: 1px solid#9ea6b1;
}
.cart__qty-input:focus{
  border: 1px solid#000;
} */

.grid__item.text-right.small--text-center {
    padding-left: 23%;
    text-align: left !important;
}

.cart__subtotal-title {
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
}

.cart__subtotal {
    padding-left: 10px;
}

.cart__footer .btn {
    background: #fff;
    border: none;
    border-radius: 0;
    color: #000;
    font-family: plain, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-weight: 600;
    height: inherit;
    margin-bottom: 21px !important;
    padding: 10px;
    width: 75%;
    border: 1px solid #000;
}

.cart__footer .btn.btn--secondary.cart__update.cart__update--large.small--hide:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid;
    color: #000;
    opacity: 1;
}

.cart__footer .btn.btn--secondary.cart__update.cart__update--large.small--hide {
    border: 1px solid#ccc;
}

.additional-checkout-button.additional-checkout-button--paypal-express {
    background: #fff !important;
    border: none !important;
    border-radius: 0 !important;
    font-size: 11px !important;
    margin-left: 0;
    text-transform: uppercase !important;
    width: 75%;
    color: #000 !important;
    font-weight: 700 !important;
    border: 1px solid #000;
}

a.btn.btn--has-icon-after {
    background: #000;
    border: 1px solid #ddd;
    border-radius: 0;
    color: #fff;
    font-size: 11px;
    font-weight: 600;
    margin-bottom: 140px;
    margin-top: 15px;
    padding: 10px 30px;
}

a.btn.btn--has-icon-after svg {
    display: none;
}

.empty-page-content.text-center > h1 {
    font-size: 11px;
    text-transform: uppercase;
}

.cart__footer .btn:hover {
    background: #000 none repeat scroll 0 0;
    color: #fff;
    opacity: 1;
}

.cart__shipping {
    color: #fff;
}

#paypal-express-button {
    display: none;
}

.additional-checkout-button.additional-checkout-button--paypal-express:hover {
    opacity: .6
}

.cart__shipping {
    padding: 8px 0 15px;
}

.cart__footer {
    padding-top: 0;
}

.main-content {
    margin-bottom: 10px;
}

.right_side_links .customer_login_link,
.right_side_links .site-header__cart {
    background-repeat: no-repeat;
}

.h-nav-r a:hover,
.h-nav-l a:hover {
    text-decoration: none;
}

.collection-grid-item__title-wrapper::before {
    opacity: 2.2;
}

ul.custom-collection-template li.li-lv1 {
    height: 18px;
}

ul.custom-collection-template li.collection-designers {
    padding-top: 10px;
    cursor: pointer;
}

ul.ul-sidebar {
    margin-top: 0px;
    margin-bottom: 10px;
    position: relative !important;
    /*max-height: 290px;
  overflow-y: scroll;
  width: auto;
  max-width: 175px;*/
}

ul.ul-sidebar li {
    height: 20px;
}

.product-price--sold-out .product-price__price {
    display: none;
}

h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h4 a,
.h4 a,
h5 a,
.h5 a,
h6 a,
.h6 a {
    font-family: plain, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: plain, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

#CustomerLoginForm {
    margin-left: 18px;
}

.side-menubar-cart {
    position: relative;
    top: 3vh;
}

.site-header__logo a:hover {
    opacity: 1;
}

.product-price__price .money {
    font-weight: 700 !important;
}

.nice-select.currency-switcher.right.open ul.list li.option {
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: center !important;
}

.nice-select .current,
.nice-select .list .option {
    color: #000 !important;
}

#CustomerLoginForm.form-vertical {
    margin-left: 18px;
}

.scrool-bottom::before {
    content: "+";
    display: block;
    font-size: 30px;
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.scrool-bottom > img {
    display: none;
}

.nice-select.right.currency-switcher {
    background-color: transparent;
    border: 1px solid transparent;
}


/* Mobile Menu */

.mahfuz_mobile_menu_section {
    position: relative;
    padding: 15px 0;
    display: none;
    top: -45px;
    height: 50px;
}

.menu-button {
    display: block;
    width: 40px;
    height: 30px;
    border-radius: 3px;
    line-height: 7px;
    position: absolute;
    padding: 0 4px;
    left: 18px;
    cursor: pointer;
    transition: all ease-in-out 400ms;
}

.menu-button span {
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: all ease-in-out 400ms;
}

.menu-button.active span:nth-child(2) {
    display: none;
}

.menu-button.active span:first-child {
    transform: rotate(45deg);
    transform-origin: 11px 50%;
}

.menu-button.active span:last-child {
    transform: rotate(-45deg);
    transform-origin: 11px 50%;
}

.mahfuz_mobile_menu li.mobile_currency .doubly-wrapper {
    float: none !important;
}

.mahfuz_mobile_menu li.mobile_currency .doubly-wrapper .nice-select.right {
    float: none;
    margin-top: -6px;
    padding: 0;
}

.mobile_currency .nice-select .current.notranslate {
    padding-left: 0 !important;
}

.mahfuz_mobile_menu li.mobile_currency {
    width: 65px;
}

.mahfuz_mobile_menu a#customer_login_link {
    display: block;
    padding: 0;
    text-transform: uppercase;
}


/*.mahfuz_mobile_menu {
  background: #fff none repeat scroll 0 0;
  border-right: 1px solid #ddd;
  height: 45%;
  padding-top: 45px;
  position: fixed;
  top: 0;
  width: 100%;
  top: -100%;
  z-index:9999;
  transition: all 0.5s ease 0s;
}*/

.mahfuz_mobile_menu {
    background: #fff none repeat scroll 0 0;
    border-right: 1px solid #ddd;
    height: 0;
    padding-top: 0;
    position: fixed;
    width: 100%;
    top: 60px !important;
    z-index: 9999;
    overflow: hidden;
    transition: all 0.5s ease 0s;
}

.mahafuz_mobile_logo {
    float: right;
    position: relative;
    top: -30px;
}

.croxx_menu {
    font-size: 20px;
    padding: 15px;
    position: absolute;
    right: 0;
    top: 0;
}


/* Collection page Custom tab */

.mobile_tablet_shop {
    display: none;
}

.mobile_tablet_shop {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    margin-top: 15px;
}

.mobile_tablet_shop_header {
    font-size: 12px;
    padding: 10px 0;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;
}

.mobile_tablet_shop .mahfuz_refine_sidebar,
.mahfuz_designer_sidebar {
    border-top: 1px solid #ddd;
    display: none;
    margin-left: 0;
    padding-top: 5px;
    position: relative;
    text-align: center;
    width: 100%;
}

.mobile_tablet_shop .mahfuz_refine_sidebar li.li-lv1 {
    height: 20px;
}

.mobile_tablet_shop ul.mahfuz_refine_sidebar li.collection-designers {
    width: inherit;
}

.mobile_tablet_shop .ul-sidebar,
.mobile_tablet_shop .mahfuz_designer_sidebar,
.mobile_tablet_shop_header ul {
    position: inherit;
    width: inherit;
}

.mobile_tablet_shop_header > ul {
    margin: 0;
    padding: 0;
}

.mobile_tablet_shop_header li {
    border-right: 1px solid #ccc;
    float: left;
    width: 50%;
}

.mobile_tablet_shop_header li:last-child {
    border-right: 0px solid;
}

/* .mahfuz_designer_sidebar ul.ul-sidebar.hide {
    display: block !important;
} */

.mobile_tablet_shop_header ul li a {
    font-size: 11px;
}

.product-item-container .content .product-name {
    text-transform: uppercase;
}

.product-brand {
    /*   display: none; */
}

.form-vertical > form#create_customer > h1 {
    font-weight: 600;
    text-align: left !important;
}

#shopify-section-cart-template .section-header.text-center {
    opacity: 0;
}

.full-page .custom-collection-template {
    /*position: fixed;
  top: 10vh;*/
    top: 3vh;
}

.template-product .page-container {
    overflow: visible;
}

.tab-container .tab-btn:hover span {
    display: none;
}


/* mobile footer */

.mobile_footer_menu {
    display: none;
    margin-top: 5px;
    text-align: center;
}

.mobile_footer_menu a {
    margin-right: 10px;
}

.custom-collection-template {
    z-index: 1;
}


/* .side-menubar-cart {
    position: fixed;
    top: 40px;
} */


/* .side-menubar-cart {
    position: static;
    top: inherit;
} */


/* ul.collection.custom-collection-template.is_stuck {
    margin-top: 32px;
} */


/* .template-cart ul.collection.custom-collection-template {
    position: fixed;
    top: 55px;
      width: 250px !important;
} */

.template-cart .section-header.text-center h1 {
    margin-top: 8px;
}

.fixed-wrapper {
    width: 220px !important;
}

p#customer-location.sale-free-ship-international,
span.product-price__sold-out {
    text-transform: uppercase;
}

.vspace2.related-section-container.relative,
.text-center.return-link-wrapper.btn_styledwith {
    /*display: none;*/
}


/* Responsive */

@media only screen and (min-width:1367px) {
    #customer_login_link {
        padding: 16px 3px 16px 0px;
    }
    .fixed-wrapper {
        width: 258px !important;
    }
}


/* landscape tablet Layout: 992px. */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    #Collection .grid__item {
        height: auto;
        margin-bottom: 0 !important;
    }
    .fixed-wrapper {
        /*   position: inherit !important; */
    }
    .fixed-wrapper .content {
        margin-bottom: 18px;
        margin-top: ;
        position: relative;
        width: 100%;
    }
    .product-description-container .content {
        bottom: 0;
    }
    .product-item-cta {
        visibility: visible;
    }
    .custom-button.btn--secondary.btn--has-icon-before.return-link {
        display: none !important;
    }
    #product-collection {
        margin-top: -120px;
    }
    .grid--view-items {
        overflow: hidden;
    }
    .product-item-images .image-wrapper {
        margin: 0;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1024px) {
    .fixed-wrapper .content {
        /*margin-top: -111px;*/
    }
    .info-product-bottom {
        margin-top: -160px;
    }
    .template-product .custom-collection-template {
        margin-left: -22px !important;
        z-index: 1;
    }
    #shopify-section-collection-template .full-page .custom-collection-template {
        left: 24px;
    }
    .page-width .grid__item {
        margin-bottom: 100px !important;
    }
}


/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .site-footer .grid-item-l .text-right .footer-link {
        margin-right: 10px;
    }
    .full-page .grid.grid--uniform.grid--view-items {
        padding-left: 0;
        overflow-y: hidden;
    }
    #Collection .grid__item {
        height: auto;
        margin-bottom: 0 !important;
    }
    .fixed-wrapper {
        position: inherit !important;
    }
    .fixed-wrapper .content {
        margin-bottom: 18px;
        margin-top: 0;
        position: relative;
        width: 100%;
    }
    .product-item-cta {
        visibility: visible;
    }
    .custom-button.btn--secondary.btn--has-icon-before.return-link {
        display: none !important;
    }
    #product-collection {
        margin-top: -120px;
    }
    .h-nav-r a {
        margin-right: 16px;
    }
    .collection.custom-collection-template {
        display: none;
    }
    .mobile_tablet_shop {
        display: block;
    }
}


/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
    .mahfuz_designer_sidebar ul.ul-sidebar.hide {
        text-transform: uppercase;
    }
    .sticky {
        display: none !important;
    }
    .btn--link.site-header__menu.js-mobile-nav-toggle.mobile-nav--open {
        display: none;
    }
    .site-header__logo-image {
        margin: auto;
        max-width: 200px;
    }
    .grid__item.small--one-half.medium--one-third.large-up--one-quarter.logo-align--center.logo-w {
        display: table-caption;
        margin-bottom: 0;
        width: 100%;
    }
    #shopify-section-1476256079472 .collection-grid-item {
        padding-bottom: 100%;
    }
    .rte {
        width: 92%;
        margin-left: 30px;
    }
    .collection.custom-collection-template {
        margin-bottom: 15px;
        margin-top: -50px;
        position: inherit;
        width: 100%;
    }
    #Collection .grid__item {
        height: auto;
        margin-bottom: 0 !important;
    }
    .site-header__cart-count {
        border-radius: 11px;
        height: 19px;
        left: inherit;
        min-width: 19px;
        right: -24px;
        top: 11px;
    }
    #Collection {
        margin-bottom: 0px;
    }
    #Collection .custom-collection-empty {
        margin-left: 140px;
    }
    .mahfuz_mobile_menu_section {
        clear: both;
        display: block;
        overflow: hidden;
    }
    header.site-header.logo--center {
        display: none;
    }
    .nice-select.right {
        transform: translate(0%, 0px) !important;
    }
    .mahfuz_mobile_menu .search-header__input,
    .search-bar__input {
        padding: 0px;
        margin-left: -6px;
    }
    .mahfuz_mobile_menu li {
        line-height: 30px;
    }
    #CustomerLoginForm.form-vertical {
        margin-left: auto;
    }
    .collection.custom-collection-template {
        display: none;
    }
    .mobile_tablet_shop {
        display: block;
    }
    .full-page .grid.grid--uniform.grid--view-items {
        overflow-y: hidden;
    }
    /*   .mahafuz_mobile_logo {
  transform: translate(-35%);
} */
    .product-item-images .image-wrapper {
        margin-bottom: 10px;
        min-height: inherit;
    }
    .grid-view-item {
        height: 215px;
        margin-bottom: 0;
    }
    #product-collection {
        top: 4vh;
        display: none;
    }
    .text-center.return-link-wrapper.btn_styledwith {
        display: none;
    }
    #wrap.container-fluid {
        margin-bottom: 0;
    }
    .page-width .full-page .collection-designers {
        display: none;
    }
    .template-index .page-width {
        padding: 0;
    }
    small.site-footer__copyright-content {
        display: block;
        margin-bottom: 10px;
        padding-right: 0;
    }
    .span16.text-center.vspace3.display-block-smartphone-landscape {
        margin-bottom: -100px;
    }
    .collection-grid .collection-grid-item__overlay img {
        height: inherit !important;
    }
    #product-related-styled .related-products li {
        float: none;
        width: inherit;
        height: 220px;
        margin-right: 0;
    }
    .related-products {
        overflow: hidden;
        text-align: center;
        margin: 0 auto;
    }
    #customer_login #customer_register_link {
        margin-bottom: 0;
    }
    .form-vertical.register_page_mb {
        margin-bottom: 0px;
    }
    div#shopify-section-product-template {
        overflow-y: hidden;
    }
    .cart__image-wrapper.cart-flex-item {
        margin: auto;
    }
    .cart__meta.small--text-left.cart-flex-item {
        margin-left: 20px;
    }
    .collection-grid-item__title-wrapper::before {
        background-color: rgba(248, 248, 248, 0)!important;
    }
    .template-index .small--one-half {
        width: 100%;
    }
    .mahfuz_mobile_menu_section {
        position: fixed;
        top: 15px;
        width: 100%;
        z-index: 999;
        overflow: inherit;
    }
    .full-page .grid.grid--uniform.grid--view-items.custom-list-product {
        margin-left: 0 !important;
        padding-left: 0;
    }
    .mahafuz_mobile_logo {
        height: 40px;
    }
    .mobile_footer_menu {
        display: block
    }
    .template-index .scrool-bottom {
        display: none;
    }
    .cart {
        transform: translate(0px, 0px);
        width: 100%;
    }
    .cart__meta.small--text-left.cart-flex-item .small--hide {
        display: block !important;
    }
    .grid__item.text-right.small--text-center {
        padding-left: 7%;
        text-align: left !important;
    }
    .cart__footer .btn {
        width: 97%;
    }
    .grid__item.text-right.small--text-center > div {
        display: inline-block;
        float: right;
        margin-right: 10px;
        text-align: right;
        font-size: 10px;
    }
    .cart__shipping {
        padding: 0;
    }

/*
    ========================*/
    .cart__footer .btn.btn--secondary.cart__update.cart__update--large.small--hide {
       /* border: medium none;
        display: inline-block !important;
        margin: 0 !important;
        padding: 0;
        position: relative;
        text-align: left;
        top: -37px;
        width: 50%;
        font-size: 10px;*/
        display: block !important;
    }
    

    #shopify-section-cart-template tr.cart-flex td.text-right.small--hide{
        display: block !important;
    }


    /*sửa đổi*/

    .cart__footer .btn.btn--secondary.cart__update.cart__update--large.small--hide:hover {
        border: none;
    }
    .cart__meta.small--text-left.cart-flex-item {
        margin-left: 0;
    }
    footer.cart__footer {
        padding: 0 15px;
    }
    .cart__image-wrapper a {
        padding-right: 0;
    }
    .cart__subtotal {
        padding-left: 2px;
    }
    span.cart__subtotal-title {
        font-size: 10px;
    }
    .slideshow.slideshow--large {
        height: 100vh;
    }
    #CustomerLoginForm.form-vertical,
    #create_customer {
        max-width: 90%;
    }
    #CustomerLoginForm.form-vertical {
        padding-top: 15px;
    }
    .template-product .mahfuz_mobile_menu {
        margin-top: 0px;
    }
    .mobile-cart-icon {
        position: absolute;
        right: 15px;
    }
    .mobile-cart-icon img {
        height: 20px;
        width: 20px;
    }
    .fixed-wrapper {
        width: inherit !important;
    }
    .mahafuz_mobile_logo {
        float: none;
        margin: auto;
        max-width: 220px;
        position: relative;
        top: -30px;
    }
    .grid-view-item__link:hover .gridproimg {
        opacity: 0.6;
    }
    .mahfuz_designer_sidebar .ul-sidebar {
        margin-left: 0;
    }
    .collection-grid.custom-homepage {
        display: none;
    }
    .site-footer .grid-item-l .text-right {
        margin-bottom: 9px;
        margin-top: 10px;
    }
    /*=====================================================================  */
}

@media(max-width:320px) {
    /* .mahafuz_mobile_logo {
  transform: translate(-15%);
} */
    /*     .cart__footer .btn.btn--secondary.cart__update.cart__update--large.small--hide {
  top: -27px;
} */
}

@media only screen and (min-width:360px) and (max-width:500px) {
    /*   .collection-grid .collection-grid-item__overlay img {
  height: 88px !important;
    transform: translateY(30%);
} */
    .cart__footer .btn.btn--secondary.cart__update.cart__update--large.small--hide {
        top: -22px;
    }
    /*#PageContainer .custom-homepage .grid--uniform .grid__item {
    margin: 0 auto;
    float: none; 
  }*/
    .custom-homepage .collection-grid-item .collection-grid-item__overlay img {
        max-height: 475px;
        /*width: 100% !important; 
    height: 100% !important;*/
    }
}


/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .full-page .grid.grid--uniform.grid--view-items {
        padding-left: 0;
    }
    /*   .mahafuz_mobile_logo {
  transform: translate(-120%);
} */
}


/*=============================================*/

#search-page {
    margin-top: 14vh;
}

#search-page .custom-collection-template {
    margin-top: 3vh;
}

#search-page .custom-collection-template ul.ul-sidebar {
    margin-bottom: auto;
}

#search-page .full-page .grid {
    margin-left: 100px;
}

#search-page .grid__item .grid-view-item {
    height: 320px !important;
    max-height: 350px;
    ;
}

.media-arrow {
    margin-left: 10px;
    margin-right: 5px;
}

.media-header {
    margin-right: 5px;
}

.media-header .select-media {
    font-weight: 500 !important;
}

.media-header .select-media,
.media-header .media-arrow {
    cursor: pointer;
    background: none;
}

.media-header .media-arrow-down {
    border-bottom: 2px solid #999;
    border-right: 2px solid #999;
    box-sizing: content-box;
    content: "";
    display: inline-block;
    height: 5px;
    pointer-events: none;
    /*position: absolute;*/
    left: 90px;
    top: 22px;
    transform: rotate(45deg);
    transform-origin: 66% 66% 0;
    transition: all 0.15s ease-in-out 0s;
    width: 5px;
    margin-bottom: 2px;
}

.media-header .media-arrow-up {
    border-bottom: 2px solid #999;
    border-right: 2px solid #999;
    box-sizing: content-box;
    content: "";
    display: inline-block;
    height: 5px;
    pointer-events: none;
    /*position: absolute;*/
    left: 90px;
    top: 22px;
    transform: rotate(225deg);
    transform-origin: 66% 66% 0;
    transition: all 0.15s ease-in-out 0s;
    width: 5px;
}

.media-header .list-media {
    box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
    border-radius: 5px;
    position: absolute;
    margin-left: 55px;
    z-index: 10000;
}

.media-header .list-media li.option {
    /*margin-top: 5px;
  margin-bottom: 5px;*/
    padding: 10px;
    z-index: 1000;
}

.option:hover {
    background-color: #f6f6f6;
}

.product-item-container .column_left {
    margin-left: -50px;
    text-align: left;
    margin-right: 100px;
    margin-top: 3vh;
    /*position: fixed;*/
    position: inherit !important;
}

.product-item-container .column_center {
    /*margin-left: 24%;*/
}

#AddToCart-soldout {
    background: #C0C0C0 !important;
}

.site-header .h-nav-l a {
    margin-right: 15px !important;
}

.product-price .price .money {
    font-size: 11px !important;
}

.product-images-zoom {}

.footer-mobile {
    display: none;
}

.footer-desktop {
    display: block;
}

.slider-mobile {
    display: none;
}

#owl-image-product {
    display: block;
}

.mobile-heading {
    display: none;
}

h2.product-name {
    font-size: 11px !important;
    font-weight: 500 !important;
}


/*============Khoi===================*/

#Collection .grid__item {
    margin-bottom: 35px !important;
}

#Collection .grid__item {
    height: 390px ;
    overflow: hidden;
}


/*  
  CSS FOR CART NORTIFICATION
*/

#CartAddNotification {
    position: fixed;
    top: 70px;
    right: -265px;
    background: rgba(255, 255, 255, 0.95);
    color: #444;
    -moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
    z-index: 9999;
    padding: 10px;
    width: 212px;
    text-align: left;
    min-height: 131px;
    position: fixed;
    opacity: 0;
    font-family: plain, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 11px;
}

#CartAddNotification p {
    text-align: center;
}

#CartAddNotification a,
#CartAddNotification .open-product,
#CartAddNotification .view_cart_button {
    font-family: plain, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 11px;
}

#CartAddNotification .product-title,
#CartAddNotification .product-quantity,
#CartAddNotification span {
    font-size: 11px;
    font-family: plain, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    text-transform: uppercase;
}

#CartAddNotification .open-product {
    padding-bottom: 5px;
    margin-bottom: 5px;
    font-size: 13px;
    font-family: sans-serif;
}

#CartAddNotification .open-product img {
    width: 80px;
}

#CartAddNotification a.view_cart_button.btn {
    text-decoration: none !important;
    color: #ffffff !important;
    background: #000000 !important;
    padding: 12px 16px !important;
    text-align: center !important;
    display: block !important;
    font-size: 11px !important;
    position: absolute !important;
    bottom: 20px !important;
    margin: 0 17px;
}

#CartAddNotification .open-product-inner {
    padding: 10px 0 !important;
    margin-bottom: 10px !important;
    border-bottom: 1px dotted #d0d0d0 !important;
    overflow: hidden !important;
}

#CartAddNotification .open-product-inner img {
    float: left !important;
    margin: 0 10px 10px 0 !important;
}

#CartAddNotification .product-info {
    /*float: right !important;
  width: 185px !important;*/
}

#CartAddNotification .product-title {
    display: block !important;
    padding-bottom: 10px !important;
    line-height: 1.5 !important;
    font-size: 9px !important;
    text-transform: uppercase;
}

#CartAddNotification span.money {
    font-size: 10px !important;
    font-weight: bold !important;
}

.clearfix:after {
    content: '.' !important;
    display: block !important;
    clear: both;
    visibility: hidden !important;
    font-size: 0 !important;
}

#CartAddNotification p.total-money {
    position: absolute !important;
    right: 20px !important;
    bottom: 20px !important;
}

@keyframes khoi-go-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes khoi-go-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.khoi-go-out {
    animation-name: khoi-go-out;
    animation-duration: 0.5s;
    opacity: 0 !important;
    right: -265px !important;
}

.khoi-go-in {
    right: 47px !important;
    animation-name: khoi-go-in;
    animation-duration: 0.5s;
    opacity: 1 !important;
}

@media only screen and ( max-width:768px) {
    .mobile-heading {
        display: block;
    }
    .mobile-heading.content .product-name {
        font-size: 11px;
        font-weight: bold;
    }
    .hide-in-mobile {
        display: none !important;
    }
    .show-in-mobile {
        display: block !important;
    }
    .description.show-in-mobile {
        font-size: 13px;
    }
    .owl-theme .owl-controls .owl-page span {
        width: 8px !important;
        height: 8px !important;
        margin: 5px 12px !important;
    }
    .owl-theme .owl-controls {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .footer-desktop {
        display: none;
    }
    .footer-mobile {
        display: block;
        text-align: center;
    }
    .product-images-zoom {
        display: none !important;
    }
    .slider-mobile {
        display: block;
    }
    #owl-image-product {
        display: none;
    }
    .page-width .grid__item {
        padding-left: 0px;
        margin-bottom: 0px !important;
    }
    #search-page {
        margin-top: 9vh !important;
    }
    .h4.grid-view-item__title,
    .grid-view-item__vendor,
    .delay-price.product-price__price .grid-view-item__title {
        height: auto;
    }
}


/*================== 20161212===================*/

@media only screen and (max-width: 468px) {
    .grid-view-item .grid-view-item__image {
        max-height: 200px;
        width: auto;
    }
}

@media only screen and (max-height: 800px) and (max-width: 1280px) {
    ul.ul-sidebar {
        /*max-height: 290px;
    overflow-y: scroll;
    width: auto;*/
        /*max-width: 175px;*/
    }
}

.image-gallery-page .collection-grid-item {
    padding-bottom: 90% !important;
}

.collection-grid-item__link {
    border: none !important;
}


/*=================== 20170223 ========================*/

#MainContent {
    position: relative;
    min-height: calc(100vh - 200px);
}

#MainContent .garung-fix-text-error {
    margin-top: -55px!important;
  
    z-index: 10;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    line-height: 26px;
    font-weight: 500;
    font-family: plain, "Helvetica Neue", Helvetica, Arial, sans-serif !important;

    padding-top: 30vh;
    display: inline-block;
    margin: 0 auto;
}

#MainContent .garung-fix-text {
    z-index: 10;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    line-height: 26px;
    font-weight: 500;
    font-family: plain, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  
    padding-top: 15vh;
    display: inline-block;
    width: 100%;
    margin: 0 auto;
}

#MainContent .garung-fix-text strong, #MainContent .garung-fix-text-error strong {
    content: ' ';
    display: block;
    font-weight: 500;
    color: #000;
}

.main-content {
    margin-bottom: 131px;
}


/*============== 20170224========================*/

.garung-filter-vault {
    display: none;
}

.garung-sidebar-vault {
    top: 8vh !important;
}

/*================= 20170225 ====================*/

.garung-pagewidth-access-denied {
    padding-top: 3vh;
    float: left;
    width: 33%;
    padding-left: 24px;
}

.garung-pagewidth-access-denied .grid{
    display: inline-block;
}

.garung-vault-empty {
    color: #000 !important;
    font-weight: 500;
    font-family: plain, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.garung-container-vault-login #CustomerLoginForm.form-vertical{
    margin-top: 30px !important;
    padding-top: 0px !important; 
}

.garung-collection-vault .custom-collection-empty {
    height: auto !important; 
}

.garung-collection-vault .custom-list-product {
  margin-top: 30px;  
}

/*=============== 2017 - 05 - 05 =================*/
#PageContainer .main-content {
    margin-bottom: 0 !important;
}
#PageContainer .slideshow-wrapper .slick-track .slideshow__image {
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-position: center top;
    position: absolute;
    transform: scale(1, 1);
}

#PageContainer .slideshow-wrapper .slideshow.slideshow--large {
    height: 100vh;
}

.note-text-checkoutpage{
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    color: #000;
    width: 80%;
    margin-bottom: 15px;
    text-align: center;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .note-text-1 {
        margin-bottom: 0px; 
        margin-top: 45px;
    }
    .note-text-2{
        margin-bottom: 40px; 
        margin-top: 0px;
    }
    .note-text-checkoutpage {
        width: 100%;
        font-size: 9px;
    }
}

/* 
    css 16-5-2017
*/

.site-header .ul-sidebar{
    position: absolute !important;
    box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
    margin-left: 48px;
    border-radius: 3px;
    background: #f6f6f6;   
}

.site-header .ul-sidebar li{
    padding:10px;
    height: 30px;
    text-transform: uppercase;
}

.media-header .list-media{
    margin-left: 120px;
}

.full-page .active{
    font-weight: 800;
}

.ul-sidebar-filters .ul-sidebar{
    margin-left: 0px;
}

.li_filter .active-c{
    font-weight: 800;
}

.li_filter .active-c:before{
    background: black;
}

/*
    sửa giao diện mobie
*/

.filters-text-mb{
    text-transform: uppercase;
    line-height: 20px;
}

@media only screen and (max-width: 767px){
    .page-width .full-page .collection-designers{
        display:block;
        margin: 0 auto;
        margin-top: 10px;
    }

    .filters-text-mb{
        line-height: 28px;
    }
}

.ul-sidebar-designers{
    margin-left:0px;
}

.active-designers{
    font-weight: 800;
}

.ul-sidebar-filters .ul-sidebar .active-designers:before{
    background: black;
}

.active-mb{
    font-weight: 800;
}

#customer-location{
    color:#000;
    font-weight: 800;
}

.doubly-wrapper{
    position: relative !important;
    margin-top: 0 !important;
    top: 0 !important;
    right: 0 !important;
}

/*  
    sửa css 24-5-2017
*/
#customer_login_link{
    margin-right: 16px;
}

.nice-select{
    margin-right: 10px;
}

/* copy trên mạng 24-5-2017 */

.one-half-column-left {
width:24%;
float:left;
}

.one-half-column-left-kh {
width:24%;
float:left;
}

.one-half-column-right-kh {
width:24%;
float:left;
}

.one-half-column-right {
width:24%;
float:left;
}

@media only screen and (max-width: 600px) {
.one-half-column-left, .one-half-column-right, 
.one-third-column, .one-third-column-last {
float:none;
width:100%;
margin-right:0;
}
}

.design-list{
    margin-left: 75px;
    margin-top: 80px;
}

.one-half-column-left li a{
    border:none;
}

.one-half-column-left-kh li a{
    border:none;
}

.one-half-column-right li a{
    border:none;
}

.one-half-column-right-kh li a{
    border:none;
}

.full-page .grid.grid--uniform.grid--view-items.custom-list-product{
    width: calc(100% - 150px);
    margin-top: 30px;
}

.full-page .custom-collection-template{
    top: -2vh;
}

@media only screen and (max-width: 600px){
    .one-half-column-left-kh{
        width: 100%;
    }
    .design-list{
        margin-left: 55px;
    }

    .mobile_currency .nice-select .current.notranslate{
        width: 40px;
    }

    .full-page .grid.grid--uniform.grid--view-items.custom-list-product{
        width: calc(150% - 150px);
        margin-top: 0px;
    }
}

.product-item-container .column_left{
    margin-top: 0vh;
}

.product-item-container {
    margin-top: 30px;
}

.template-product ul.ul-sidebar li{
    width: 178px;
}


/* #Collection .grid__item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.full-page ul{
    position: unset;
} */

.collection-filters{
    cursor: pointer;
}

.collection-designers-sidebar{
    cursor: pointer;
}

.clear-all{
    cursor: pointer;
}

.test-1{
    display:none;
}

.url_all {
    cursor: pointer;
}

/* css 2/6/2017 */

@media only screen and (max-width: 767px){
    #Collection .custom-collection-empty{
            margin-left: 11px;
            margin-top:20px;
            width: 283px;
    }
}

.ul-sidebar .designers-md{
    text-transform: uppercase;
}

.footer-desktop{
    margin-top: 0px !important;
}

.ul-sidebar-filters{
    position: relative !important;
}

.sory_product{
    padding-top: 180px;
    vertical-align: middle;
    width: calc(100% - 250px);
}

.menu_sory{
    top: 0vh !important;
}

@media only screen and (max-width: 767px){
    .one-half-column-right-kh{
        width: 100%;
        float: none;
    }
}

@media only screen
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

    .full-page .grid.grid--uniform.grid--view-items.custom-list-product{
        margin-left: -15px !important;
    }
}

@media only screen
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

    .full-page .grid.grid--uniform.grid--view-items.custom-list-product{
        margin-left: -25px !important;
    }
}


@media only screen
  and (min-device-width: 412px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2){
      .full-page .grid.grid--uniform.grid--view-items.custom-list-product{
          margin-left: -25px !important;
      }
  }

  @media screen
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
    .design-list{
        margin-left: 55px;
    }
}

.menu_sory{
    margin-top: 15px !important;
}

.cart{
    transform: translate(50%, -195px);
}

.small--text-center div{
    margin-left: 284px;
}

.text-right div .money{
    display: block;
    text-align: left;
}

.list{
    padding: 2px;
    max-width: 992px;
    display: flex;
    flex-flow: row wrap;
    margin-left: auto;
    margin-right: auto;
}

.list span{
    /*border: 1px solid blue;*/
    flex: 1 20%;
    /*max-width: 20%;*/
}

.list span a{
    border:none;

}

@media (max-width: 768px){
    .list{
        display: table;
        margin: 0 auto;
    }

    .list span{
        display: table;
    }

    .cart{
        transform:unset !important;
    }
}


@media(min-width: 769px){
    .list span{
        max-width: 20%;
    }
}

@media only screen and (max-width: 749px){
    .page-width .cart tbody tr.border-bottom{
        width: 93%;
    }
}

@media only screen and (max-width: 480px){
    .cart__meta.small--text-left.cart-flex-item{
        margin-left: 40px !important;
    }
}

/*
==========================*/

@media(max-width: 768px){

    .h-nav-r a{
        margin-right: 0px !important;
    }

    .nice-select{
        margin-right: 5px;
    }

    #customer_login_link{
        margin-right: 5px !important;
    }

    .cart{
        width: 100%;
    }

    .small--text-center div{
        margin-left: 315px;
    }
}

@media(max-width: 737px){
    .grid__item.text-right.small--text-center > div{
        margin-right: 40px;
    }

    .cart__meta.small--text-left.cart-flex-item{
        margin-left: 85px;
    }

    .small--text-center div{
        margin-left: 0px;
    }
}

@media(max-width: 375px){
    .grid__item.text-right.small--text-center > div{
        margin-right: 10px;
    }
}

@media (max-width: 767px) {
    .mobile-nav-dropdown{
        animation: mobile-nav-dropdown;
        animation-duration: 0.5s;
        padding-top: 45px !important;
        height: auto !important;
        overflow: initial !important;
    }

    .grid__item.text-right.small--text-center > div{
        display: block;
    }
}

@media(max-width: 767px){
    .note-text-1{
        margin-top: 70px !important;
    }
}

/*
=============== yêu cầu 7/9/2017 =====================*/

@media(max-width: 1016px){
    #shopify-section-collection-template .full-page .custom-collection-template{
        left: 8px;
    }
}

@media(max-width: 1024px){
    .product-item-container .column_center{
        margin-left: 24%;
        margin-top: -215px;
    }

    .product-description-container{
        margin-top: -2vh;
    }

    .display-block-tablet-landscape{
        display: none !important;
    }

    .hidden-tablet-landscape{
        display: block !important;
    }
}


@media(max-width: 991px){
    .product-item-container .column_center{
        margin-left: 0px;
        margin-top: 0px;
    }

    .product-description-container .content{
        top: 0px;
    }

    .fixed-wrapper .column-wrapper{
        margin-top: -150px;
    }

    .fixed-wrapper{
        position: fixed !important;
    }

    .collection.custom-collection-template{
        display: block;
    }

    .span3.offset1.product-item-description.tablet-landscape-full-fluid-width.column_left{
        position: fixed !important;
    }

    .row-fluid .offset1{
        margin-left: -22px !important;
    }

    .template-product .custom-collection-template{
        margin-left: 0px !important;
    }

    .info-product-bottom .row-fluid{
        margin-top: 15px;
    }
}


@media(max-width: 991px){
    .full-page .grid.grid--uniform.grid--view-items.custom-list-product{
        width: 100%;
    }

    /*.collection.custom-collection-template{
        display: none;
    }*/
}

@media(max-width: 907px){
    .header-right{
        float: none;
        margin-right: 55px;
    }

    .right_side_links{
        margin-bottom: 3px;
    }
}

@media (max-width: 768px) {
    #owl-image-product{
        display: block !important;
    }

    .product-item-cta .fixed-wrapper .column-wrapper{
        width: 90%;
    }

    .fixed-wrapper .column-wrapper{
        margin-top: -155px;
        margin-left: 55px;
    }

    .collection.custom-collection-template{
        margin-left: 10px;
    }

    .template-cart .collection.custom-collection-template{
        display: none !important;
    }

    .template-product h2.product-name{
        display: none;
    }

    .collection.custom-collection-template{
        display: none;
    }

    .template-product .collection.custom-collection-template{
        display: block;
    }

    .template-product .collection-filters{
        display: none;
    }
}

@media(max-width: 769px){
    .nice-select{
        margin-right: -2px;
    }

    #customer_login_link{
        margin-right: 2px;
    }


}


@media(max-width: 767px){
    .template-product .collection.custom-collection-template{
        top: 125px;
    }

    .template-product .fixed-wrapper .column-wrapper{
        margin-left: 115px;
    }

    .template-product .product-item-cta .fixed-wrapper .column-wrapper{
        width: 65%;
    }
}

/*@media(max-width: 480px){
    .fixed-wrapper{
        position: unset !important;
    }

    .fixed-wrapper .column-wrapper{
        margin-top: 0px !important;
    }

    .product-item-cta .fixed-wrapper .column-wrapper{
        width: 100% !important;
    }

    ul.collection.custom-collection-template{
        display: none !important;
    }
}*/

@media(max-width: 479px){
    ul.collection.custom-collection-template{
        display: none !important;
    }

    .fixed-wrapper{
        position: unset !important;
    }

    .fixed-wrapper .column-wrapper{
        margin-top: 0px !important;
    }

    .template-product .fixed-wrapper .column-wrapper{
        margin-left: 18% !important;
    }

    .fixed-wrapper .column-wrapper{
        margin-top: 35px !important;
    }
}

@media(max-width: 600px){
    .template-product .fixed-wrapper .column-wrapper{
        margin-left: 50%;
    }

    .fixed-wrapper .column-wrapper{
        margin-top: -220px;
    }

    h2.product-name{
        display: block !important;
    }

    .product-item-container .column_center{
        margin-top: -30px;
    }
}


@media(max-width: 425px){
    .fixed-wrapper .column-wrapper{
        margin-top: 50px;
    }

    .fixed-wrapper{
        position: unset !important;
    }

    .span3.offset1.product-item-description.tablet-landscape-full-fluid-width.column_left{
        display: none !important;
    }

    .template-product .fixed-wrapper .column-wrapper{
        margin-left: 65px;
    }

    .full-page .grid.grid--uniform.grid--view-items.custom-list-product{
        margin-left: 0px !important;
    }

    h2.product-name{
        display: block !important;
    }
}

@media(max-width: 375px){
    .template-product .fixed-wrapper .column-wrapper{
        margin-left: 55px;
    }
}

@media (max-width: 320px) {
    .template-product .fixed-wrapper .column-wrapper{
        margin-left: 45px;
    }
}
/*
==============================*/

.grid-item-l.grid-item-r{
    padding-left: 65px;
    padding-right: 60px;
} 

/*.design-list{
    min-height: 55vh !important;
}

.press_page{
    min-height: 57vh;
}

.contact_page{
    min-height: 57vh;
}
*/

/*#CustomerLoginForm.form-vertical{
    min-height: 55vh;
}

.design-list{
    min-height: 51vh;
}

.contact_page{
    min-height: 55vh;
}

.press_page{
    min-height: 55vh;
}

.empty-page-content.text-center{
    min-height: 84vh;
}*/

#MainContent{
    min-height: calc(100vh - 87px);
}


@media(max-width: 425px){
    .design-list {
        margin-top: 35px;
    }
}

@media(max-width: 991px){
    .collection.custom-collection-template{
        display: none !important;
    }
}

@media(max-width: 700px){
    .template-product .fixed-wrapper .column-wrapper{
        margin-left: 100px;
    }
}

@media(max-width: 625px){
    .template-product .fixed-wrapper .column-wrapper{
        margin-left: 100px;
    }
}

@media(max-width: 575px){
    .template-product .fixed-wrapper .column-wrapper{
        margin-left: 100px;
    }
}

@media(max-height: 770px){
    .product-item-container .content .product-name {
        display: block !important;
    }
}

@media(max-width: 768px){
    .design-list{
        margin-top: 0px !important;
    }
    
    .section-header.text-center{
        margin-bottom: 30px;
    }

}

@media(max-width: 991px){
    .cart{
        transform: translate(50%, -20px);
    }
}

.form-vertical.register_page_mb{
    min-height: 63vh !important;
}

@media(max-width: 768px){
    .product-item-container .column_center{
        margin-left: 0px;
    }

    .fixed-wrapper .column-wrapper{
        margin-left: 0px;
    }
}

@media(max-width: 925px){
    .doubly-wrapper{
        margin-right: -2px;
    }
}

@media(max-width: 811px){
    #customer_login_link{
        margin-right: 0px;
    }
}