<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="auto" viewBox="0 0 512 512">
<g>
</g>
	<path d="M389.12 256c0 73.523-59.623 133.12-133.12 133.12-73.523 0-133.12-59.597-133.12-133.12 0-8.755 0.871-17.305 2.509-25.6h-89.549v176.947c0 37.99 30.771 68.813 68.813 68.813h302.694c37.99 0 68.813-30.797 68.813-68.813v-176.947h-89.523c1.613 8.294 2.483 16.845 2.483 25.6zM407.347 35.84h-302.695c-38.016 0-68.813 30.823-68.813 68.813v74.547h111.462c24.089-34.048 63.795-56.32 108.697-56.32s84.608 22.272 108.697 56.32h111.463v-74.547c0-37.99-30.822-68.813-68.813-68.813zM441.011 120.832c0 6.784-5.529 12.288-12.288 12.288h-36.839c-6.759 0-12.288-5.529-12.288-12.288v-36.864c0-6.784 5.555-12.288 12.288-12.288h36.839c6.784 0 12.288 5.529 12.288 12.288v36.864zM337.92 256c0-45.261-36.685-81.92-81.92-81.92s-81.92 36.659-81.92 81.92 36.685 81.92 81.92 81.92 81.92-36.659 81.92-81.92z" fill="#000000" />
</svg>