@media only screen and (max-width: 480px) {
    .full-page .grid.grid--uniform.grid--view-items {
    	padding-left: 0px ;
    }
    .column_right {
    	top: 10vh;
    }
    .product-item-container {
    	top: -10vh;
        margin-top: 10px;
    }
    .row-fluid>[class*="span"] {
    	min-height: 100px;
    }
    .page-width .full-page .ul-sidebar {
        position: relative;
    }
    .side-menubar-cart {
        position: relative !important;
    }
    .fixed-wrapper .column-wrapper, .browsing-page-root.product-item {
        /*margin-top: 45px;*/
    }
    .row-fluid>[class*="span"] {
        min-height: auto;
    }
    .fixed-wrapper .content {
        margin-top: 0px;
    }
    .product-item-images .image-wrapper>div {
        display: block;
    }
    #product-collection {
        top: 5vh;
        margin-top: 0px !important;
    }
    .main-content {
        padding-top: 0px !important;
    }
    .login .custom-collection-template, .cart-page .custom-collection-template{
        display: none;
    }
    #CustomerLoginForm {
        margin-left: unset;
    }
    .text-right .footer-link {
        display: none;
    }
    .text-left a{
        display: none;
    }
    .site-header {
        border: 0;
    }
    .nice-select.right {
      transform: translate(122%, 0px) !important;
    }
    .collection-grid .collection-grid-item__overlay img {
        height: 69px !important;
    }
    .related-section-container.relative, .vspace3.display-block-smartphone-landscape {
        display: none !important;
    }
    .product-item-container .column_left {
        margin-top: 20vh;
    }
    #search-page .full-page .grid {
        margin-left: 0 !important;
        padding-bottom: 50px;
    }
    .product-description-container {
        margin-top: 0vh !important;
    }
    .product-description-container .content {
        top: -5vh !important;
    }
    .product-item-container .column_center {
        margin-top: 10vh;
        position: relative;
    }
    .column-wrapper {
        display: block;
        height: auto;
        min-height: auto;
    }
    /*===================Khoi======================*/
    .mobile-cart-icon {
        position: absolute;
        right: 15px;
    }

    .mobile-cart-icon img {
        width: 20px;
        height: 20px;
    }

    @keyframes mobile-nav-dropdown {
        from {
          height: 0;
          padding-top: 0;
        }
        to {
            height: auto;
            padding-top: 45px;
        }
    }

    .mobile-nav-dropdown {
        animation: mobile-nav-dropdown;
        animation-duration: 0.5s;
        padding-top: 45px !important;
        height: auto !important;
        overflow: initial !important;
    }

    #Collection .grid__item.mobile-grid-height {
        height: 315px !important;
    }
    .cart__meta.small--text-left.cart-flex-item {
        margin-left: 55px !important;
    }
    .gridinfo .grid-view-item__title {
        margin: auto 26px;
        max-height: 40px;
        height: 39px;
        overflow: hidden;
    }
    .custom_sold_out .product-price__price {
        display: none !important;
    }
    /*====================== 20161212 ===================*/
    #search-page.page-width .grid__item {
         margin-bottom: 0px !important;
    }
    /*====================== 20170224 ===================*/
    .garung-collection-vault {
        padding-top: 30px !important;
    }
    .garung-collection-vault .custom-collection-empty {
        margin-left: 0px !important;
        margin-top: 34px !important;
    }
}