<div class="page-width">
  <header class="section-header text-center">
    <h1>{{ page_title }}</h1>
  </header>
  
     {% for collection in collections %}
      {%- comment %}<locksmith:209f>{% endcomment -%}
        {% include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: collection %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif %}
      {%- comment %}</locksmith:209f>{% endcomment -%}
      <a href="{{ collection.url }}">{{ collection.title }}</a>    
      {% endfor %}
  
  <div class="grid grid--uniform">
    {% for collection in collections %}
      {%- comment %}<locksmith:2657>{% endcomment -%}
        {% include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: collection %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif %}
      {%- comment %}</locksmith:2657>{% endcomment -%}
      <div class="grid__item small--one-half medium-up--one-third">
        {% include 'collection-grid-item' %}
      </div>
    {% endfor %}
  </div>
</div>

