<div class="page-width design_page">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>

      <div class="rte design-list">
          <div class="list">
              {% for product_vendor in collections.all.all_vendors %}
              {%- comment %}<locksmith:9d27>{% endcomment -%}
              {% include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: product_vendor %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif %}
              {%- comment %}</locksmith:9d27>{% endcomment -%}
                <span class="thutu-{{ count }}" data-designers-label="/{{ product_vendor | handle }}"><a href="/collections/all/{{ product_vendor | handle }}">{{ product_vendor }}</a></span>

              {% assign count = count | plus: 1 %}
              {% endfor %}
          </div>
      </div>
    </div>
  </div>
</div>
