<style type="text/css">
  	.subgallery {
  		margin-top: 18vh;
        /*margin-bottom: -45px;*/
  	}
  	.subgallery .collection-grid-item__overlay {
    	height: auto !important;
  	}
  	.subgallery a, .subgallery a:hover{
  		opacity: 1;
  	}
  	.subgallery .collection-grid-item__link {
  		border: none;
  	}
  	.subgallery .collection-grid-item {
  		padding-bottom: 60% !important;
  	}
  	.subgallery .gallery .galleria-container {
  		background: #f2f2f2;
  	}
  	.galleria-counter, .galleria-thumbnails-container {
  		display: none;
  	}
  	.galleria-theme-classic {
  		background: transparent !important;
  	}
  	.subgallery .galleria-images img {
  		height: 100%;
  		width: 100%;
      max-width: 955px !important;
  	}
  	.subgallery .galleria-image-nav-right {

  	}
  	.galleria-theme-classic .galleria-image-nav-right {
  		background-image: url({{ 'arrow-right.png' | asset_url }}) !important;
  		background-repeat: no-repeat;
  		background-size: 75px;
  		margin-right: -40px;
  		background-position: -30px;
  	}.galleria-theme-classic .galleria-image-nav-left {
  		background-image: url({{ 'arrow-left.png' | asset_url }}) !important;
  		background-repeat: no-repeat;
  		background-size: 50px;
  		margin-left: -24px;
  	}
</style>
<div class="container-fluid subgallery">
      <div class="galleria">
      	{{ page.content | replace: '<p>', '' | replace: '</p>', '' }}
      </div>
</div>
<script>
	$(document).ready(function () {
		Galleria.loadTheme('https://cdn.shopify.com/s/files/1/1521/0224/t/1/assets/galleria.classic.min.js');
		Galleria.configure ({
	       transition: 'flash',
	       // autoplay: true,
	       // lightbox: true
	    });
		Galleria.run('.galleria',{responsive:true,height:0.5625});
	});
</script>