<style type="text/css">
  #page-image-template {
    max-width: 90%;
  }
  #page-image-template .collection-grid .collection-grid-item__overlay img {
    height: 282px !important;
  }
  #page-image-template, .subgallery {
    margin-top: 8vh;
  }
  #page-image-template .collection-grid-item__link {
    max-height: 270px;
  }
  #page-image-template .medium-up--one-third{
      max-height: 300px;
      height: 100%;
  }
</style>
<br><br><br>
<div class="page-width" id="page-image-template">

  {% case section.settings.grid %}
    {% when '2' %}
      {%- assign grid_item_width = 'medium-up--one-half' -%}
      {%- assign image_size = '530x' -%}
    {% when '3' %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%}
      {%- assign image_size = '350x' -%}
    {% when '4' %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-quarter' -%}
      {%- assign image_size = '250x' -%}
    {% when '5' %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-fifth' -%}
      {%- assign image_size = '225x' -%}
  {% endcase %}

  <div class=" custom-homepage image-gallery-page">
    <div class="grid grid--uniform">
        <div class="grid__item small--one-half medium-up--one-third">
          <div class="collection-grid-item">
            <a href="{{ pages.gallery-1.url }}" class="collection-grid-item__link remove-border">
              <div class="collection-grid-item__overlay" >
                <div>
                  {% assign first = pages.gallery-1.content | replace: '<p>', '' | replace: '</p>', '' | split: '>' %}
                  {{ first[0] | append: '>' }}
                </div>
              </div>
              <div class="custom-collection-homepage">
                {{ pages.gallery-1.title }}
              </div>
            </a>
          </div>
        </div>
        <div class="grid__item small--one-half medium-up--one-third">
          <div class="collection-grid-item">
            <a href="{{ pages.gallery-2.url }}" class="collection-grid-item__link remove-border">
              <div class="collection-grid-item__overlay" >
                <div>
                  {% assign first = pages.gallery-2.content | replace: '<p>', '' | replace: '</p>', '' | split: 'alt=""' %}
                  {{ first[0] | append: '>' }}
                </div>
                <div class="collection-grid-item__title-wrapper">
                </div>
              </div>
              <div class="custom-collection-homepage">
                {{ pages.gallery-2.title }}
              </div>
            </a>
          </div>
        </div>
        <div class="grid__item small--one-half medium-up--one-third">
          <div class="collection-grid-item">
            <a href="{{ pages.gallery-3.url }}" class="collection-grid-item__link remove-border">
              <div class="collection-grid-item__overlay" >
                <div>
                  {% assign first = pages.gallery-3.content | replace: '<p>', '' | replace: '</p>', '' | split: 'alt=""' %}
                  {{ first[0] | append: '>' }}
                </div>
                <div class="collection-grid-item__title-wrapper">
                </div>
              </div>
              <div class="custom-collection-homepage">
               {{ pages.gallery-3.title }}
              </div>
            </a>
          </div>
        </div>
        <div class="grid__item small--one-half medium-up--one-third">
          <div class="collection-grid-item">
            <a href="{{ pages.gallery-4.url }}" class="collection-grid-item__link remove-border">
              <div class="collection-grid-item__overlay" >
                <div>
                  {% assign first = pages.gallery-4.content | replace: '<p>', '' | replace: '</p>', '' | split: 'alt=""' %}
                  {{ first[0] | append: '>' }}
                </div>
                <div class="collection-grid-item__title-wrapper">
                </div>
              </div>
              <div class="custom-collection-homepage">
               {{ pages.gallery-4.title }}
              </div>
            </a>
          </div>
        </div>
        <div class="grid__item small--one-half medium-up--one-third">
          <div class="collection-grid-item">
            <a href="{{ pages.gallery-5.url }}" class="collection-grid-item__link remove-border">
              <div class="collection-grid-item__overlay" >
                <div>
                  {% assign first = pages.gallery-5.content | replace: '<p>', '' | replace: '</p>', '' | split: 'alt=""' %}
                  {{ first[0] | append: '>' }}
                </div>
                <div class="collection-grid-item__title-wrapper">
                </div>
              </div>
              <div class="custom-collection-homepage">
               {{ pages.gallery-5.title }}
              </div>
            </a>
          </div>
        </div>
        <div class="grid__item small--one-half medium-up--one-third">
    			<div class="collection-grid-item">
    			  <a href="{{ pages.gallery-6.url }}" class="collection-grid-item__link remove-border">
    			    <div class="collection-grid-item__overlay" >
    			      <div>
                  {% assign first = pages.gallery-6.content | replace: '<p>', '' | replace: '</p>', '' | split: 'alt=""' %}
                  {{ first[0] | append: '>' }}
    			      </div>
    			      <div class="collection-grid-item__title-wrapper">
    			      </div>
    			    </div>
    			    <div class="custom-collection-homepage">
               {{ pages.gallery-6.title }}
    			    </div>
    			  </a>
    			</div>
        </div>
    </div>
  </div>
</div>
