<style type="text/css">
	.embed-container {
		position: relative;
		padding-bottom: 44%;
		padding-top: 30px;
		height: 0;
		overflow: hidden;
	}

	.embed-container iframe{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 70%;
	}
	.video-page {
		 padding: 115px 10px 0;
		 max-height: 545px;
		 height: 100%;
		 margin-bottom: 100px;
	}
  	@media only screen and (min-width: 769px) {
        .embed-container iframe {
          position: absolute;
          top: 0;
          left: 0;
          right: auto;
          width: 80%;
          height: 89%;
          margin-left: 10%;
          margin-right: 10%;
      }
      .video-page {
		 padding: 75px 100px 0;
		 max-height: 545px;
		 height: 100%;
		 margin-bottom: 100px;
	}
	}
</style>
<div class="container-fluid video-page">
    {{ page.content | replace:'<iframe','<div class="embed-container"><iframe' | replace:'</iframe>','</iframe></div>' }} 
</div>