 {% if product.images.size > 1 %}

    <ul id="product-photo-thumbs" class="clearfix">

      {% for image in product.images %}

      <li class="product-photo-thumb">

        <img src="{{ image.src | product_img_url: 'compact' }}" alt="{{ image.alt | escape }}" />

      </li>

      {% endfor %}

    </ul>

    {% endif %}

<script>
  // Override default values of shop.strings for each template.
  // Alternate product templates can change values of
  // add to cart button, sold out, and unavailable states here.
  theme.productStrings = {
    addToCart: {{ 'products.product.add_to_cart' | t | json }},
    soldOut: {{ 'products.product.sold_out' | t | json }},
    unavailable: {{ 'products.product.unavailable' | t | json }}
  }
</script>