{% layout 'password' %}

<div class="password-page text-center">
  <header class="password-header" role="banner">
    <div class="password-header__inner">
      <div class="password-login">
        <a href="#LoginModal" class="js-modal-open-login-modal link--action btn btn--secondary btn--small">
          {{ 'general.password_page.password_link' | t }} &rarr;
        </a>
      </div>
    </div>
  </header>

  <div class="password-main text-center" role="main">
    <div class="password-main__inner">
      <div class="password-logo">
        <h1>
          <span class="logo">{{ shop.name }}</span>
        </h1>
      </div>

      <h2 class="password__title">{{ 'general.password_page.opening_soon' | t }}</h2>

      {% comment %}
        Password message which you can edit on http://www.shopify.com/admin/online_store/preferences
      {% endcomment %}
      {% unless shop.password_message == blank %}
        <div class="password-message">
          {{ shop.password_message }}
        </div>
      {% endunless %}

      {% form 'customer' %}
        {{ form.errors | default_errors }}
        {% if form.posted_successfully? %}
          <ul class="form--success">
            <li>{{ 'general.password_page.signup_form_success' | t }}</li>
          </ul>
        {% else %}
          <p class="password__form-heading h4">{{ 'general.password_page.signup_form_heading' | t }}</p>
          <input type="hidden" name="contact[tags]" value="prospect, password page">
          <label for="email" class="label--hidden">{{ 'general.password_page.signup_form_email_label' | t }}</label>
          <div class="input-group password__input-group">
            <input type="email" name="contact[email]" id="Email" class="input-group__field" placeholder="{{ 'general.password_page.signup_form_email_placeholder' | t }}">
            <span class="input-group__btn">
              <button type="submit" name="commit" class="btn">
                {{ 'general.password_page.signup_form_submit' | t }}
              </button>
            </span>
          </div>
        {% endif %}
      {% endform %}

      {% if settings.share_facebook or settings.share_twitter %}
        <div class="password-social-sharing">
          <p class="password__form-heading h4">{{ 'general.password_page.spread_the_word' | t }}</p>
          {% include 'social-sharing', share_title: shop.name %}
        </div>
      {% endif %}

      <div class="password-powered-by">
        {% capture shopify %}
          <a class="classic-link shopify-link" href="//www.shopify.com" target="_blank" title="Create your own online store with Shopify">Shopify</a>
        {% endcapture %}

        <small>{{ 'general.password_page.powered_by_shopify_html' | t: shopify: shopify }}</small>
      </div>

    </div>
  </div>
</div>

<div id="LoginModal" class="modal">
  <div class="modal__inner">
    <div class="modal__centered password-modal__content page-width text-center">
      <p class="password__form-heading h4">{{ 'general.password_page.login_form_heading' | t }}</p>
        {% form 'storefront_password' %}
          {{ form.errors | default_errors }}
          <label for="password" class="label--hidden">{{ 'general.password_page.login_form_password_label' | t }}</label>
          <div class="input-group password__input-group">
            <input type="password" name="password" id="Password" class="input-group__field input--content-color" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
            <span class="input-group__btn">
              <button type="submit" name="commit" class="btn btn--narrow">
                {{ 'general.password_page.login_form_submit' | t }}
              </button>
            </span>
          </div>
        {% endform %}
      <p>{{ 'general.password_page.admin_link_html' | t }}</p>
    </div>
  </div>
  <button type="button" class="modal__close js-modal-close text-link">
    {% include 'icon-close' %}
    <span class="icon__fallback-text">{{ 'general.accessibility.close_modal' | t | json }}</span>
  </button>
</div>
