{% paginate search.results by 12 %}
<div class="page-width" id="search-page">
  <div class="full-page">
    <div class="mobile_tablet_shop">
      <div class="mobile_tablet_shop_header">
        <ul>
          <li><a class="mahfuz_refine_btn" href="#">CATEGORIES</a></li>
          <li><a class="mahfuz_designer_btn" href="#">Designers</a></li>
        </ul>             
        
      </div>
      <ul class="mahfuz_refine_sidebar">
          {% for link in linklists.sidebar-menu.links %}
              {%- comment %}<locksmith:434d>{% endcomment -%}
                {% include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: link %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif %}
              {%- comment %}</locksmith:434d>{% endcomment -%}
              <li class="li-lv1"><a href="{{ link.url }}">{{ link.title }}</a></li>
          {%endfor%}
      </ul>
      <ul class="mahfuz_designer_sidebar">
        
          <li class="collection-designers" data-title="Designers">Designers +</li>
              <ul class="ul-sidebar hide">
                  {% for product_vendor in collections.all.all_vendors %}
                  {%- comment %}<locksmith:4332>{% endcomment -%}
                    {% include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: product_vendor %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif %}
                  {%- comment %}</locksmith:4332>{% endcomment -%}
                  <li>{{ product_vendor | link_to_vendor }}</li>
                  {% endfor %}
              </ul>
          </li>          
      </ul>
    </div>
    <ul class="collection custom-collection-template">
        {% for link in linklists.sidebar-menu.links %}
            {%- comment %}<locksmith:2e64>{% endcomment -%}
              {% include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: link %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif %}
            {%- comment %}</locksmith:2e64>{% endcomment -%}
            <li class="li-lv1"><a href="{{ link.url }}">{{ link.title }}</a></li>
        {%endfor%}
        <li class="collection-designers" data-title="Designers">Designers +</li>
            <ul class="ul-sidebar hide">
                {% for product_vendor in collections.all.all_vendors %}
                {%- comment %}<locksmith:7213>{% endcomment -%}
                  {% include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: product_vendor %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif %}
                {%- comment %}</locksmith:7213>{% endcomment -%}
                <li>{{ product_vendor | link_to_vendor }}</li>
                {% endfor %}
            </ul>
        </li>
    </ul>
    <div class="grid custom-list-product">
        <div class="grid--view-items">
          {% for item in search.results %}
            {%- comment %}<locksmith:4b66>{% endcomment -%}
              {% include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: item %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif %}
            {%- comment %}</locksmith:4b66>{% endcomment -%}
            <div class="grid__item small--one-half medium-up--one-quarter">
              {% if item.object_type == 'product' %}
                {% include 'product-card-grid', product: item, , grid_image_width: image_size %}
              {% endif %}
            </div>
          {% endfor %}
        </div>
        {% if paginate.pages > 1 %}
          {% include 'pagination' %}
        {% endif %}
    </div>
  </div>
</div>

{% endpaginate %}